.footer
	.container
		#to-top
			span Back to TOP
			svg
				path(d="m 5.6,0.84 0,-0.08 -0.08,0 L 4.77,0 4.76,0.01 4.76,0 4,0.76 l -0.08,0 0,0.08 L 0,4.76 1.19,5.95 3.92,3.22 l 0,71.54 1.68,0 L 5.6,3.22 8.34,5.95 9.52,4.76 5.6,0.84 Z m 0,0" id="path4" style="fill:#b2b6c2;fill-rule:evenodd")
			//- img(src="img/icons/arrow_up-1.svg" alt="toTop")
