meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")


link(rel="apple-touch-icon", sizes="180x180", href="img/icons/favicons/apple-touch-icon.png")
link(rel="icon", type="image/png", href="img/icons/favicons/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="img/icons/favicons/favicon-16x16.png", sizes="16x16")
link(rel="manifest", href="img/icons/favicons/manifest.json")
link(rel="mask-icon", href="img/icons/favicons/safari-pinned-tab.svg", color="#5bbad5")
meta(name="theme-color", content="#ffffff")


//- link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='vendor/normalize-css/normalize.css')
link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='vendor/animate.css/animate.css')
link(rel='stylesheet', href='vendor/owl.carousel/src/css/owl.carousel.css')
link(rel='stylesheet', href='css/concated.css')
noscript
	link(rel='stylesheet', href='css/noscript.css')