
#calld.modal
	// wrap modal content
	.modal-wrapper
		h3
			// replace text
			span Заказать
		#callwrap
			.mfeedback
				form(action='/include/callback.php', method='POST')
					input#sessid_1(type='hidden', name='sessid', value='6cc4b30ded9e68995805d92a7592f942')
					.mf-name
						.mf-text
							| Ваше имя
						// add placeholder
						input(type='text', name='user_name', value='', placeholder="Ваше имя")
					.mf-name
						.mf-text
							| Контактный номер
							span.mf-req *
						// add placeholder
						input(type='text', name='user_cont', value='', placeholder="Контактный номер")
					.mf-name
						.mf-text
							| Ваш вопрос
							span.mf-req *
						// <input type="text" name="user_time" value="">
						// add placeholder
						textarea(name='MESSAGE', rows='5', cols='40', placeholder="Ваш вопрос")
					input(type='hidden', name='PARAMS_HASH', value='e781470f86e5a39be0e28bb1a0bd4a33')
					input(type='submit', name='submit', value='Отправить')
		// add attribuets
		.close.button

#zaprosd.modal
	h3 Заказать услугу
	#zaproswrap
		.mfeedback
			form(action='/include/zapros.php', method='POST')
				input#sessid_2(type='hidden', name='sessid', value='6cc4b30ded9e68995805d92a7592f942')
				.mf-name
					.mf-text
						| Ваше имя
					input(type='text', name='user_name', value='')
				.mf-name
					.mf-text
						| Ваши контакты
						span.mf-req *
					input(type='text', name='user_cont', value='')
				.mf-message
					.mf-text
						| Ваш вопрос
						span.mf-req *
					textarea(name='MESSAGE', rows='5', cols='40')
				input(type='hidden', name='PARAMS_HASH', value='72fe7e53c6b5d5dbed07f4c9e3169835')
				input(type='submit', name='submit', value='Отправить')
	.close.button

#zaproscon.modal
	h3 Заказать консультацию
	#zaprosconwrap
		.mfeedback
			form(action='/include/zapros.php', method='POST')
				input#sessid_3(type='hidden', name='sessid', value='6cc4b30ded9e68995805d92a7592f942')
				.mf-name
					.mf-text
						| Ваше имя
					input(type='text', name='user_name', value='')
				.mf-name
					.mf-text
						| Ваши контакты
						span.mf-req *
					input(type='text', name='user_cont', value='')
				.mf-message
					.mf-text
						| Ваш вопрос
						span.mf-req *
					textarea(name='MESSAGE', rows='5', cols='40')
				input(type='hidden', name='PARAMS_HASH', value='72fe7e53c6b5d5dbed07f4c9e3169835')
				input(type='submit', name='submit', value='Отправить')
	.close.button

#contacts-modal.modal(data-onopen="initializeMapInModal")
	.modal-wrapper
		.container
			.contacts
				table.address
					tbody
						tr
							td
								.title Секретарь / факс
								.blackphone.fl
								.t +38 (044) 221-4000
								.clear
								p
								.life.fl
								.t
									| +38 (093) 1000 176 
									img(src='/upload/medialibrary/c23/images.png', title='images.png', border='0', align='top', alt='images.png', width='20', height='20')
								.clear
								.kyivstar.fl
								.t +38 (098) 1000 176
								.clear
								p  
								.skype.fl
								.t Skype: justicon.ua
								.clear
								p  
								div
									span.blue
										a.calll.r-pimp Заказать обратный звонок
									br
									span.blue
										a.r-pimp.zaprosl Заказать услугу
									br
									span.blue
										a.r-pimp.zaprosconl Заказать консультацию
								.clear
								
								.title Адрес
								p Старовокзальная ул., 18,
								p Киев, 01032
							td
								iframe.js-map-src(data-src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1270.402466134344!2d30.49094600000001!3d50.44473399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce8cba3de9b3%3A0x2a7848a37fee7707!2z0K7RgdGC0LjQutC-0L0uINCu0YDQuNC00LjRh9C10YHQutCw0Y8g0YHRgtC-0YDQvtC90LAg0LHQuNC30L3QtdGB0LAu!5e0!3m2!1suk!2sua!4v1411805101313', frameborder='0', style='border: 0px;')
				.hr
				table.emails
					tbody
						tr
							td
								| Секретарская служба 
								a(href='#') info@justicon.ua
							td
								| Судебная практика 
								a(href='#') sud@justicon.ua
							td
								| Интеллектуальная собственность 
								a(href='#') corp@justicon.ua
						tr
							td
								| Корпоративные правоотношения 
								a(href='#') corp@justicon.ua
							td
								| Недвижимость, строительство, земельное право 
								a(href='#') zem@justicon.ua
							td
								| Налоговый и юридический консалтинг 
								a(href='#') sud@justicon.ua
						tr
							td
								| Лицензии, разрешения и сертификация 
								a(href='#') lic@justicon.ua
							td
								| Услуги нерезидентам 
								a(href='#') corp@justicon.ua
							td
								| Абонентское обслуживание 
								a(href='#') buh@justicon.ua

	.close.button

#search-modal.modal
	.modal-wrapper
		form(action="#").search-wrapper
			h2 Некогда разбираться? Мы поможем.
			.input-form
				input(type="text" placeholder="Введите основные ключевые слова вашего вопроса")
			ul.tag-cloud-1
				li 
			button(type="submit") Найти решение
	.close.button

#mobile-menu.mobile-menu.modal
	.menu
		.wrap
			ul
				li.first
					a(href='/')
						img(src='/bitrix/templates/usticon/i/sprites/smlogo.png')
				li
					a(href='/uslugi/')
						span Услуги
					.submenu
						a.close(href='#')
						.inner
							.block-item
								.title Корпоративные правоотношения
								ul
									li
										a(href='/uslugi/korp/registratsiya/') Регистрация
									li
										a(href='/uslugi/korp/izmeneniya/') Изменения
									li
										a(href='/uslugi/korp/likvidatsiya/') Ликвидация
									li
										a(href='/uslugi/korp/soputstv/') Сопутствующие и дополнительные услуги
								.title Лицензии, разрешения, сертификация
								ul
									li
										a(href='/uslugi/lits/litsenzii/') Лицензии
									li
										a(href='/uslugi/lits/razresheniya/') Разрешения
									li
										a(href='/uslugi/lits/sertifikatsiya/') Сертификация
							.block-item
								.title Судебная практика
								ul
									li
										a(href='/uslugi/sud/predst/') Представительство интересов в судах
									li
										a(href='/uslugi/sud/ispoln/') Представительство в исполнительном производстве
									li
										a(href='/uslugi/sud/dolg/') Возврат долгов
									li
										a(href='/uslugi/sud/praktiki/') Судебные практики
								.title Недвижимость, строительство, земельное право
								ul
									li
										a(href='/uslugi/zem/nedv/') Недвижимость
									li
										a(href='/uslugi/zem/stroi/') Строительство
									li
										a(href='/uslugi/zem/zem-pr/') Земельное право
							.block-item
								.title Миграционное право
								ul
									li
										a(href='/uslugi/migr/immigr/') Иммиграция в Украину
									li
										a(href='/uslugi/migr/emigr/') Эмиграция из Украины
									li
										a(href='/uslugi/migr/soputstv-uslugi/') Сопутствующие услуги
								.title Интеллектуальное право
								ul
									li
										a(href='/uslugi/int/reg/') Регистрация торговых марок
									li
										a(href='/uslugi/int/patent/') Патентование устройств, способов, веществ, внешнего вида изделия
									li
										a(href='/uslugi/int/avtor/') Авторское право
							.block-item
								.title Абонентское обслуживание
								ul
									li
										a(href='/uslugi/abon/a-y/') Абонентское юридическое обслуживание
									li
										a(href='/uslugi/abon/b-u/') Бухгалтерские услуги. Аутсорсинг
									li
										a(href='/uslugi/abon/d-b/') Дополнительные бухгалтерские услуги
									li
										a(href='/uslugi/abon/k-s/') Кадровое сопровождение
								.title Налоговый и юридический консалтинг. Антимонопольное право
								ul
									li
										a(href='/uslugi/konsalting/nalog/') Налоговый консалтинг
									li
										a(href='/uslugi/konsalting/yur/') Юридический консалтинг
									li
										a(href='/uslugi/konsalting/antimonopolnoe-pravo/') Антимонопольное право
									li
										a(href='/uslugi/konsalting/tamozhenno-brokerskie-uslugi/') Таможенно-брокерские услуги
				li
					a(href='/prays-list/')
						span Прайс-лист
				li
					a(href='#')
						span Информ-бюро
					.submenu
						a.close(href='#')
						.inner
							.block-item
								.title Адресная книга
								//
									<ul>
									<li><a href="/inform-byuro/adresnaya-kniga/adresa-ovir/">Адреса ОВИР</a></li>
									<li><a href="/inform-byuro/adresnaya-kniga/adresa-sudy/">Адреса суды</a></li>
									</ul>
								ul
									li
										a.root-item(href='/inform-byuro/adresnaya-kniga/adresa-ovir/') Адреса ОВИР
									li
										a.root-item(href='/inform-byuro/adresnaya-kniga/adresa-sudy/') Адреса суды
								.menu-clear-left
							.block-item
								.title Справочная информация
								//
									<ul>
									<li><a href="/inform-byuro/spravochnaya-informatsiya/kved-2012/">Квед 2012</a></li>
									<li><a href="/inform-byuro/spravochnaya-informatsiya/kvota-immigratsii/">Квота иммиграции</a></li>
									<li><a href="/inform-byuro/spravochnaya-informatsiya/kodifikator-stroitelnykh-rabot/">Кодификатор строительных работ</a></li>
									</ul>
								ul
									li
										a.root-item(href='/inform-byuro/spravochnaya-informatsiya/kved-2012/') Квед 2012
									li
										a.root-item(href='/inform-byuro/spravochnaya-informatsiya/kodifikator-stroitelnykh-rabot/') Кодификатор строительных работ
									li
										a.root-item(href='/inform-byuro/spravochnaya-informatsiya/kvota-immigratsii/') Квота иммиграции
								.menu-clear-left
							.block-item
								.title Архив
				li
					a(href='/pro-bono/')
						span Про BONO
			.menu2
				ul
					li
						a(href='#')
							span Почему мы
						.submenu
							a.close(href='#')
							.inner
								.block-item
									.title
										a(href='/about/') О компании
								.block-item
									.title
										a(href='/uspeshnyy-rezultat/') Успешный результат
								.block-item
									.title
										a(href='/nashi-klienty/') Наши клиенты
								.block-item
									.title
										a(href='/aktsii-i-predlozheniya/') Акции и предложения
								.block-item
									.title
					li
						a(href='#')
							span Пресс-центр
						.submenu
							a.close(href='#')
							.inner
								.block-item
									.title
										a(href='/press-tsentr/novosti-prava/') Новости права
								.block-item
									.title
										a(href='/press-tsentr/expert/') Мнение эксперта
								.block-item
									.title
										a(href='/press-tsentr/publikatsii/') Публикации
								.block-item
									.title
										a(href='/press-tsentr/rassylka/') Рассылка
					li
						a(href='/contacts/')
							span Контакты
						.submenu2
							a.close(href='#')
							.inner
								.title Телефоны для связи
								.subphones
									//
										<div class="blackphone fl"></div><span>(044) 1000 176</span><div class="clear"></div>
										<div class="kyivstar fl"></div><span>(044) 1000 176</span><div class="clear"></div>
										<div class="mts fl"></div><span>(067) 1000 176</span><div class="clear"></div>
										<div class="life fl"></div><span>(093) 1000 176</span><div class="clear"></div>
									.blackphone.fl
									span +38 (044) 221-4000
									div
										span      
										.clear
										.life.fl
										span +38 (093) 1000 176
										br
										.viber.fl
										span +38 (093) 1000 176
									div
										br
										.clear
										.kyivstar.fl
										span +38 (098) 1000 176
										.clear
								.hr.separate10
								span.blue
									a.r-pimp.calll(href='#') Заказать обратный звонок
								span.blue
									a.r-pimp(href='#') Позвонить с сайта
								br
								span.blue
									a.r-pimp.zaprosl(href='#') Заказать услугу
								br
								span.blue
									a.r-pimp.zaprosconl(href='#') Заказать консультацию
								.hr.separate10
								|                             Email: 
								span.blue
									a.r-pimp(href='#') info@justicon.ua
								br
								|                             Skype 
								span.blue
									a.r-pimp(href='#') justicon.ua
								.hr.separate10
								.separate10.hg1
								span.blue
									a.r-pimp(href='/contacts/') Посмотреть больше контактов
