//- .preloader
	.after

#totop.bl-button
	span Наверх

.fixed-header
	.container

		.main-navigation-holder

			ul.left-side
				li.services-trigger
					a(href='services.html')
						.gamburger
							span
							span
							span
						span Услуги

				li( class= page === 'price-list' ? 'active' : '' )
					a(href='price-list.html')
						span Прайс-лист

				li( class= page === 'contacts' ? 'active' : '' )
					a(href='contacts.html')
						span Контакты

			.logotype-holder
				a(href='test.html')
					.logo.logo-ru.invisible.hidden Justicon
					img(src="http://justicon.ua/bitrix/templates/usticon/i/logo.png", alt="Justicon")
					//- img(src="img/content/main-logo.svg", alt="Justicon")

			ul.right-side

				li( class= page === 'about' ? 'active' : '' )
					a(href='about.html')
						span Все разделы

				li
					a(href='#')
						span Почему мы
					.submenu
						a.close(href='#')
						ul.inner
							li
								a(href='about.html') О компании
							li
								a(href='/uspeshnyy-rezultat/') Успешный результат
							li
								a(href='/nashi-klienty/') Наши клиенты
							li
								a(href='/aktsii-i-predlozheniya/') Акции и предложения

				//- li( class= page === 'adresses' ? 'active' : '' )
				//- 	a(href='adresses.html')
				//- 		span Информ-бюро

				li
					a(href='#')
						span Пресс-центр
					.submenu
						a.close(href='#')
						ul.inner
							li
								a(href='/press-tsentr/novosti-prava/') Новости права
							li
								a(href='/press-tsentr/expert/') Мнение эксперта
							li
								a(href='/press-tsentr/publikatsii/') Публикации

				li.search-trigger
					a(href='#' data-modal="#search-modal")
						span
							img(src="img/icons/search-icon-2.svg", alt="search")
					.submenu
						span Поиск по сайту

				li.lang-switcher
					a(href='#')
						span Укр
					.submenu
						ul.inner

							li
								a(href='/') Рус

							li
								a(href='#') En

				.header-contacts-holder
					ul
						li.operator.operator-lifecell
							a(href="tel:0981000176" data-modal="#contacts-modal") (098) 1000 176

						li.operator.operator-viber
							a(href="tel:0931000176" data-modal="#contacts-modal") (093) 1000 176

						li.operator.operator-kyivstar
							a(href="tel:0442214000" data-modal="#contacts-modal") (044) 221 4000

					.submenu
						span Показать еще

	.navigation-bar.hidden
		.container
			.gamburger(data-mobile-modal="#mobile-menu")
				span
				span
				span
			.search
				#title-search
					form#searchform(action='/search/index.php')
						input#title-search-input(type='text', name='q', value='', autocomplete='off')
						input.zoom(name='s', type='submit', value='')

.navigation-sidebar#navigation-sidebar(class= page === 'main' ? 'mainpage' : '')
	.nicescroll.sidebar-expanded.sidebar-wrapper
		a.nav-header-btn.text-center.toggle-nav-collapse.hidden(title='Open/Close', href='#')
			span.sr-only Toggle navigation
			svg(version='1.1', xmlns:svgjs='http://svgjs.com/svgjs', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 12 13', enable-background='new 0 0 12 13', xml:space='preserve')
				path(fill='#243E57', d='M0,12.3L0.7,13L7,6.5l0,0l0,0L0.7,0L0,0.7l5.7,5.8L0,12.3z M5,12.3L5.7,13L12,6.5l0,0\
				l0,0L5.7,0L5,0.7l5.7,5.8L5,12.3z')

		ul.nav.nav-sidebar(tabindex='0')
			li
				a(title='Корпоративные правоотношения', href='#')
					.icon-container
						i.sidebar-icon.icon-1
					span Корпоративные правоотношения
				.submenu
					ul.inner-holder
						li
							a(href='#')
								img(src='http://frontend.web1.com.ua/justicon/images/img1.jpg', alt='')
						li
							a(href='#') Недвижимость
							ul.bl
								li
									a(href='#') Юридическое консультирование и 
									ul
										li
											a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
										li
											a(href='#')
												| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
								li
									a(href='#') Оформление права 
									ul
										li
											a(href='#')  Регистрация и получение Свидетельства о праве собственности 
										li
											a(href='#')
												| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
										li
											a(href='#')
												| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
										li
											a(href='#')
												| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
								li
									a(href='#') Другие услуги 
									ul
										li
											a(href='#')  Приватизация недвижимости 
										li
											a(href='#')
												| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
										li
											a(href='#')
												| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
										li
											a(href='#')
												| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')  Юридическое консультирование по вопросам строительства
								li
									a(href='#') Оформление строительного паспорта 
								li
									a(href='#') Получение градостроительных условий и ограничений 
								li
									a(href='#')  Изменение функционального назначения нежилых помещений
								li
									a(href='#') Получение разрешения на строительные работы 
								li
									a(href='#') Ввод в эксплуатацию объектов строительства  
								li
									a(href='#')  Узаконивание перепланировки/реконструкции
								li
									a(href='#')  Узаконить самострой (самовольное строительство)
								li
									a(href='#')  Разрешение на размещение наружной рекламы
						li
							a(href='#') Земельное право
							ul
								li
									a(href='#')  Юридическое консультирование по вопросам строительства
								li
									a(href='#')
										| Сопровождение сделок и анализ документов, подтверждающих права на земельный участок
								li
									a(href='#') Правовое сопровождение выделения земельного участка 
								li
									a(href='#')  Изменение целевого назначения земельного участка
								li
									a(href='#') Приватизация земельных участков
								li
									a(href='#') Присвоение кадастрового номера земельному участку 
								li
									a(href='#')  Получение извлечения из Государственного земельного кадастра
								li
									a(href='#')  Оценка земельного участка)


			li
				a(title='Лицензии, разрешения, сертификация', href='#')
					.icon-container
						i.sidebar-icon.icon-2
					span Лицензии, разрешения, сертификация
				.submenu
					ul.inner-holder
						li
							a(href='#')
								img(src='http://frontend.web1.com.ua/justicon/images/img1.jpg', alt='')
						li
							a(href='#') Вторая вкладка
							ul.bl
								li
									a(href='#') Юридическое консультирование и 
									ul
										li
											a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
										li
											a(href='#')
												| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
								li
									a(href='#') Оформление права 
									ul
										li
											a(href='#')  Регистрация и получение Свидетельства о праве собственности 
										li
											a(href='#')
												| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Еще пункты
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Другие услуги 
							ul
								li
									a(href='#')  Приватизация недвижимости 
								li
									a(href='#')
										| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')  Юридическое консультирование по вопросам строительства
								li
									a(href='#') Оформление строительного паспорта 
								li
									a(href='#') Получение градостроительных условий и ограничений 
								li
									a(href='#')  Изменение функционального назначения нежилых помещений
						li
							a(href='#') Другое
							ul
								li
									a(href='#') Получение разрешения на строительные работы 
								li
									a(href='#') Ввод в эксплуатацию объектов строительства  
								li
									a(href='#')  Узаконивание перепланировки/реконструкции
								li
									a(href='#')  Узаконить самострой (самовольное строительство)
								li
									a(href='#')  Разрешение на размещение наружной рекламы

			li
				a(title='Судебная практика', href='#')
					.icon-container
						i.sidebar-icon.icon-3
					span Судебная практика
				.submenu
					ul.inner-holder
						li
							a(href='#')
								img(src='http://frontend.web1.com.ua/justicon/images/img1.jpg', alt='')
						li
							a(href='#') Третья вкладка
							ul.bl
								li
									a(href='#') Юридическое консультирование и 
									ul
										li
											a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
										li
											a(href='#')
												| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
								li
									a(href='#') Оформление права 
									ul
										li
											a(href='#')  Регистрация и получение Свидетельства о праве собственности 
										li
											a(href='#')
												| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
								li
									a(href='#') Строительство
									ul
										li
											a(href='#')
												| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
										li
											a(href='#')
												| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
								li
									a(href='#') Другие услуги 
									ul
										li
											a(href='#')  Приватизация недвижимости 
										li
											a(href='#')
												| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Тест
							ul.bl
								li
									a(href='#') Юридическое консультирование и 
									ul
										li
											a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
										li
											a(href='#')
												| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
								li
									a(href='#') Оформление права 
									ul
										li
											a(href='#')  Регистрация и получение Свидетельства о праве собственности 
										li
											a(href='#')
												| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
							li
								a(href='#') Строительство
								ul
									li
										a(href='#')
											| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
									li
										a(href='#')
											| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
							li
								a(href='#') Другие услуги 
								ul
									li
										a(href='#')  Приватизация недвижимости 
									li
										a(href='#')
											| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Строительство
							ul
										li
											a(href='#')
												| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
										li
											a(href='#')
												| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)

			li
				a(title='Недвижимость, строительство, земельное право', href='#')
					.icon-container
						i.sidebar-icon.icon-4
					span Недвижимость, строительство, земельное право
				.submenu
					ul.inner-holder
						li
							a(href='#')
								img(src='http://frontend.web1.com.ua/justicon/images/img1.jpg', alt='')
						li
							a(href='#') Четвертая вкладка
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Юридическое консультирование и 
							ul
								li
									a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
								li
									a(href='#')
										| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
						li
							a(href='#') Оформление права 
							ul
								li
									a(href='#')  Регистрация и получение Свидетельства о праве собственности 
								li
									a(href='#')
										| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Другие услуги 
							ul
								li
									a(href='#')  Приватизация недвижимости 
								li
									a(href='#')
										| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Тест
							ul.bl
								li
									a(href='#') Юридическое консультирование и 
									ul
										li
											a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
										li
											a(href='#')
												| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
								li
									a(href='#') Оформление права 
									ul
										li
											a(href='#')  Регистрация и получение Свидетельства о праве собственности 
										li
											a(href='#')
												| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
							li
								a(href='#') Строительство
								ul
									li
										a(href='#')
											| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
									li
										a(href='#')
											| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
							li
								a(href='#') Другие услуги 
								ul
									li
										a(href='#')  Приватизация недвижимости 
									li
										a(href='#')
											| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)

			li
				a(title='Миграционное право', href='#')
					.icon-container
						i.sidebar-icon.icon-5
					span Миграционное право
				.submenu
					ul.inner-holder
						li
							a(href='#')
								img(src='http://frontend.web1.com.ua/justicon/images/img1.jpg', alt='')
						li
							a(href='#') Пятая вкладка
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Юридическое консультирование и 
							ul
								li
									a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
								li
									a(href='#')
										| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
						li
							a(href='#') Оформление права 
							ul
								li
									a(href='#')  Регистрация и получение Свидетельства о праве собственности 
								li
									a(href='#')
										| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Другие услуги 
							ul
								li
									a(href='#')  Приватизация недвижимости 
								li
									a(href='#')
										| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Тест
							ul.bl
								li
									a(href='#') Юридическое консультирование и 
									ul
										li
											a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
										li
											a(href='#')
												| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
								li
									a(href='#') Оформление права 
									ul
										li
											a(href='#')  Регистрация и получение Свидетельства о праве собственности 
										li
											a(href='#')
												| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
							li
								a(href='#') Строительство
								ul
									li
										a(href='#')
											| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
									li
										a(href='#')
											| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
							li
								a(href='#') Другие услуги 
								ul
									li
										a(href='#')  Приватизация недвижимости 
									li
										a(href='#')
											| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
			li
				a(title='Интеллектуальное право', href='#')
					.icon-container
						i.sidebar-icon.icon-6
					span Интеллектуальное право
				.submenu
					ul.inner-holder
						li
							a(href='#')
								img(src='http://frontend.web1.com.ua/justicon/images/img1.jpg', alt='')
						li
							a(href='#') Шестая вкладка
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Юридическое консультирование и 
							ul
								li
									a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
								li
									a(href='#')
										| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
						li
							a(href='#') Оформление права 
							ul
								li
									a(href='#')  Регистрация и получение Свидетельства о праве собственности 
								li
									a(href='#')
										| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Другие услуги 
							ul
								li
									a(href='#')  Приватизация недвижимости 
								li
									a(href='#')
										| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Тест
							ul.bl
								li
									a(href='#') Юридическое консультирование и 
									ul
										li
											a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
										li
											a(href='#')
												| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
								li
									a(href='#') Оформление права 
									ul
										li
											a(href='#')  Регистрация и получение Свидетельства о праве собственности 
										li
											a(href='#')
												| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
							li
								a(href='#') Строительство
								ul
									li
										a(href='#')
											| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
									li
										a(href='#')
											| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
							li
								a(href='#') Другие услуги 
								ul
									li
										a(href='#')  Приватизация недвижимости 
									li
										a(href='#')
											| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
			li
				a(title='Абонентское обслуживание', href='#')
					.icon-container
						i.sidebar-icon.icon-7
					span Абонентское обслуживание
				.submenu
					ul.inner-holder
						li
							a(href='#')
								img(src='http://frontend.web1.com.ua/justicon/images/img1.jpg', alt='')
						li
							a(href='#') Седьмая вкладка
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Юридическое консультирование и 
							ul
								li
									a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
								li
									a(href='#')
										| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
						li
							a(href='#') Оформление права 
							ul
								li
									a(href='#')  Регистрация и получение Свидетельства о праве собственности 
								li
									a(href='#')
										| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Другие услуги 
							ul
								li
									a(href='#')  Приватизация недвижимости 
								li
									a(href='#')
										| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Тест
							ul.bl
								li
									a(href='#') Юридическое консультирование и 
									ul
										li
											a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
										li
											a(href='#')
												| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
								li
									a(href='#') Оформление права 
									ul
										li
											a(href='#')  Регистрация и получение Свидетельства о праве собственности 
										li
											a(href='#')
												| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
							li
								a(href='#') Строительство
								ul
									li
										a(href='#')
											| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
									li
										a(href='#')
											| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
							li
								a(href='#') Другие услуги 
								ul
									li
										a(href='#')  Приватизация недвижимости 
									li
										a(href='#')
											| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
			li
				a(title='Юридический и налоговый консалтинг', href='#')
					.icon-container
						i.sidebar-icon.icon-8
					span Юридический и налоговый консалтинг
				.submenu
					ul.inner-holder
						li
							a(href='#')
								img(src='http://frontend.web1.com.ua/justicon/images/img1.jpg', alt='')
						li
							a(href='#') Последняя вкладка
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Юридическое консультирование и 
							ul
								li
									a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
								li
									a(href='#')
										| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
						li
							a(href='#') Оформление права 
							ul
								li
									a(href='#')  Регистрация и получение Свидетельства о праве собственности 
								li
									a(href='#')
										| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
						li
							a(href='#') Другие услуги 
							ul
								li
									a(href='#')  Приватизация недвижимости 
								li
									a(href='#')
										| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Тест
							ul.bl
								li
									a(href='#') Юридическое консультирование и 
									ul
										li
											a(href='#') Юридическое консультирование по вопросам операций с недвижимостью
										li
											a(href='#')
												| Разработка и анализ договоров, связанных с недвижимостью (инвестиционный договор, купля-продажа ипотека и т.д.)
								li
									a(href='#') Оформление права 
									ul
										li
											a(href='#')  Регистрация и получение Свидетельства о праве собственности 
										li
											a(href='#')
												| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
							li
								a(href='#') Строительство
								ul
									li
										a(href='#')
											| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
									li
										a(href='#')
											| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
							li
								a(href='#') Другие услуги 
								ul
									li
										a(href='#')  Приватизация недвижимости 
									li
										a(href='#')
											| Проведение государственной регистрации прав на основании решений органов власти, в частности на основании решения суда и т.п.
						li
							a(href='#') Строительство
							ul
								li
									a(href='#')
										| Проведение государственной регистрации прав, которые возникли до января и не были зарегистрированы в соответствии с законодательством
								li
									a(href='#')
										| Получение информации из Государственного реестра прав на недвижимое имущество (извлечение, выписка из Государственного реестра прав на недвижимое имущество)
