
#page-tit
	padding: 52px 0 63px
	position: relative
	@media (max-width: $tablet)
		overflow: hidden
		padding: 18px 0 22px
	&, h1, h2, h3, h4, h5, h6
		color: #243e57
		font-size: 36px
		font-weight: 300
		line-height: 1.2em
		margin: 0
		@media (max-width: $tablet)
			font-size: 22px
	@media (max-width: $tablet)
		// background: url('../img/bg/map-background-1.jpg') 50% 50% no-repeat
		background-color: #eef2f8
		background-size: 100% 100%
		background-size: cover
		padding-left: 20px
		padding-right: 20px
	&:before
		background: url('../img/bg/map-background-1.jpg') 50% 50% no-repeat
		background-size: 100% 100%
		background-size: cover
		content: ''
		display: block
		position: absolute
		top: 0
		bottom: 0
		left: calc(-13.5vw)
		right: calc(-13.5vw)
		z-index: -1
		@media (max-width: $tablet)
			display: none

// SIDEBAR NAVIGATION
// .navigation-sidebar .nav.nav-sidebar .submenu .inner-holder > li
.navigation-sidebar
	background-color: #f1f1f1
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.15)
	position: fixed
	left: 0
	overflow: hidden
	width: 80px
	padding-top: 66px
	transition: width .6s, left .6s
	z-index: 2
	height: calc(100vh - 50px)
	overflow-x: hidden
	overflow-y: auto
	@media (max-width: $tablet)
		display: none
	&::-webkit-scrollbar
		height: 8px
		width: 8px
	&::-webkit-scrollbar-track
		background-color: #fff
		border-left: 1px solid #eee
	&::-webkit-scrollbar-thumb
		background-color: #6bb6ee
	&::-webkit-scrollbar-thumb:hover
		background-color: #96c6ea
	.nicescroll.sidebar-expanded.sidebar-wrapper
	// .nav-header-btn.text-center.toggle-nav-collapse
	.sr-only
		display: none
	.toggle-nav-collapse
		position: absolute
		right: 33px
		top: 20px
		svg
			height: 13px
			width: 12px
			transform: rotateZ(0deg)
			transition: transform .6s
	.nav.nav-sidebar
		width: 280px
		li
			display: block
			width: auto
			a
				display: block
				padding: 12px 0
				overflow: hidden
				width: 80px
				white-space: nowrap
				transition: background 0.1s, width 0.6s
				&:hover, &.active
					color: #000
					background-color: #6bb6ee
			.icon-container, span
				display: inline-block
				vertical-align: middle
			.icon-container
				font-size: 0
				letter-spacing: 0
				text-align: center
				width: 80px
				.sidebar-icon
					display: inline-block
					background: url('../img/icons/sidebar-navigation-spline.png') no-repeat
					vertical-align: middle
					&.icon-1
						background-position: -6px 0px
						width: 42px
						height: 40px
					&.icon-2
						background-position: 0px -71px
						width: 48px
						height: 38px
					&.icon-3
						background-position: 0px -142px
						width: 46px
						height: 37px
					&.icon-4
						background-position: -6px -211px
						width: 39px
						height: 39px
					&.icon-5
						background-position: -8px -281px
						width: 39px
						height: 39px
					&.icon-6
						background-position: -8px -350px
						width: 37px
						height: 41px
					&.icon-7
						background-position: -8px -424px
						width: 36px
						height: 35px
					&.icon-8
						background-position: -5px -491px
						width: 50px
						height: 39px
			span
				overflow: hidden
				display: inline-block
				text-overflow: ellipsis
				width: 180px
				white-space: normal
		.submenu
			// display: none
			opacity: 0
			pointer-events: none
			transition: opacity .3s
			position: absolute
			top: 0
			left: 80px
			left: 280px
			width: 100%
			// width: 0
			max-width: calc(100vw - 280px)
			max-height: calc(100vh - 80px)
			max-height: 100%
			overflow: auto
			// transition: width 0.6s
			&::-webkit-scrollbar
				height: 8px
				width: 8px
			&::-webkit-scrollbar-track
				background-color: #fff
				border-left: 1px solid #eee
			&::-webkit-scrollbar-thumb
				background-color: #6bb6ee
			&::-webkit-scrollbar-thumb:hover
				background-color: #96c6ea
			&.opened
				// display: block
				opacity: 1
				pointer-events: all
			.inner-holder
				display: block
				width: calc(100vw - 300px)
				& > li
					display: block
					float: left
					// vertical-align: top
					width: 280px
					// width: 48%
					padding: 0 20px
					margin-right: 40px
					// margin-bottom: 40px
					overflow: hidden
					// border: 1px solid #000
					img
						width: 100%
					& > a
						border-bottom: 2px solid #333
						text-transform: uppercase
						font-weight: 700
						display: block
						width: 100%
						&:hover
							background: none
					&:first-child
						margin-bottom: 0
						& > a
							border: none
					li
						a
							white-space: normal
							line-height: 1
							text-decoration: initial
							color: #369
							font-size: 13px
							font-weight: 400
							line-height: 16px
							&:hover
								background: none
								color: #6bb6ee
								text-decoration: underline
						// &:bl
							// font-size: 18px
	&.mainpage
		left: -80px
	&.expanded
		left: 0
		width: 280px
		.nav.nav-sidebar
			.submenu
				left: 280px
		.toggle-nav-collapse
			right: 24px
			svg
				transform: rotateZ(180deg)
		.nav.nav-sidebar
			li
				a
					width: 270px
	&.opened
		// width: 100vw
		overflow: hidden
		width: 100%

		&::-webkit-scrollbar
			height: 0px
			width: 0px
		&::-webkit-scrollbar-track
			background-color: #fff
			border-left: 1px solid #eee
		&::-webkit-scrollbar-thumb
			background-color: #6bb6ee
		&::-webkit-scrollbar-thumb:hover
			background-color: #96c6ea
		.toggle-nav-collapse
			right: 24px
			z-index: 2
			svg
				transform: rotateZ(180deg)
		.nav.nav-sidebar
			.submenu
				min-width: 100%


.categories-tabs
	.tabs-holder
		margin-top: -40px
		font-size: 0
		letter-spacing: 0
		@media (max-width: $tablet)
			margin-top: 0
			padding: 0 20px
		.tab
			cursor: pointer
			display: inline-block
			vertical-align: bottom
			padding: 12px 30px
			margin-left: -1px
			text-align: center
			position: relative

			color: #333
			font-size: 14px
			font-weight: 600
			line-height: 1em
			height: 40px
			min-width: 160px

			border: 1px solid #e2e2e2
			background: #fff
			@media (max-width: $tablet)
				width: 50%
			@media (max-width: $mobile-large)
				display: block
				width: 100%
			span
				text-overflow: ellipsis
				overflow: hidden
				max-width: 100%
				white-space: nowrap
			&.active
				cursor: initial
				&:before
					content: ''
					position: absolute
					background-color: #6bb6ee
					top: 0
					left: 0
					width: 100%
					height: 4px

.pagination
	display: block
	text-align: center
	font-size: 0
	letter-spacing: 0
	margin-top: 21px
	a, b
		color: #243e57
		display: inline-block
		position: relative
		font-size: 18px
		font-weight: 300
		line-height: 1em
		line-height: 30px
		margin: 0 3px
		height: 30px
		vertical-align: middle
		width: 30px
		// TODO remove it
		&:nth-last-child(1), &:nth-last-child(2)
			display: none
	b
		&:after
			content: ''
			position: absolute
			z-index: -1
			left: 0
			right: 0
			top: 0
			bottom: 0
			// width: 30px
			// height: 30px
			background-color: #bed8f0
