
.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__ 
	display: none !important
	opacity: 0 !important

// body::-webkit-scrollbar
	// height: 0
	// width: 0

.container
	display: block

.menu
	background-color: #36393d
	color: #eee
	font-size: 12px
	a
		color: white
		// font-family: OpenSans;
		font-size: 16px
		font-weight: 600
		text-transform: uppercase
	.submenu
		display: none
	ul > li
		display: inline-block
		margin-right: 28px
		white-space: nowrap
		&.first
			display: none

// .wrap

.header
	.logo.invisible
		opacity: 0
		height: 0
		width: 0
	.wrap
		padding: 0 35px
		display: table
		width: 100%
		& > *
			display: table-cell
			vertical-align: middle
			white-space: nowrap
			width: 1px
	.logotype-holder
		padding: 16px 0 9px
	.bccall
		text-align: center
		width: 100%
		.phones-holder
			color: #36393d
			position: relative
			font-size: 20px
			font-weight: 400
			line-height: 1em
			// &:before
			// 	background-image: url('../img/icons/phone-icon-1.svg')
			// 	background-size: contain
			// 	content: ''
			// 	height: 29px
			// 	left: -10px
			// 	position: absolute
			// 	position: absolute
			// 	width: 12px
			.fl
				&:before
					content: ''
					height: 30px
					width: 30px
		.r-pimp.calll
			color: #333
			font-size: 12px
			font-weight: 400
			text-transform: uppercase
			position: relative
			&:before
				content: ''
				position: absolute
				bottom: 0
				left: 0
				height: 1px
				border-bottom: 0.25px dashed black
				width: 100%
	.phones
