// TODO dev
.preloader
	display: none !important

.carousel .item:nth-child(1n+2)
	display: none !important
// TODO end dev

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__ 
	display: none !important
	opacity: 0 !important

// body::-webkit-scrollbar
	// height: 0
	// width: 0

.container
	display: block

.menu
	background-color: #36393d
	color: #eee
	font-size: 12px
	position: relative
	a
		display: inline-block
		color: white
		// font-family: OpenSans
		font-size: 16px
		font-weight: 600
		text-transform: uppercase
		line-height: 50px
		height: 50px
		&:hover
			color: $main-color
			// & ~ .submenu
			// 	display: block
			// 	z-index: 1
	.close
		position: absolute
		right: 0
		top: 0
		height: 20px
		width: 20px
		background: transparent url('../img/icons/cross-icon-1.svg') 50% 50% no-repeat
		background-size: contain
		display: none
	.submenu
		display: none
		background: #000
		position: absolute
		left: 0
		top: 50px
		max-width: 80vw
	ul
		margin-left: 30px
		& > li
			display: inline-block
			margin-right: 27px
			position: relative
			white-space: nowrap
			&.first
				display: none
			&:hover
				& > .submenu
					display: block
					z-index: 1
	.search
		position: absolute
		right: 0
		top: 0

.menu2
	color: #000
	font-size: 12px
	a
		color: #333
		font-size: 14px
		font-weight: 400
	ul
		white-space: nowrap
		& > li
			display: inline-block
			margin-right: 28px
			position: relative
			white-space: nowrap
			&.first
				display: none
			&:hover
				& > .submenu
					display: block
					z-index: 1
	.submenu, .submenu2
		display: none
		background: #fff
		position: absolute
		left: 0
		top: 18px

// .wrap

.header
	.logo.invisible
		opacity: 0
		height: 0
		width: 0
	.wrap
		padding: 0 35px
		display: table
		width: 100%
		& > *
			display: table-cell
			vertical-align: middle
			white-space: nowrap
			width: 1px
	.langs
		& > *
			display: none
			&.actlang
				display: block
				color: transparent
	.logotype-holder
		padding: 16px 0 9px
	.bccall
		padding-right: 12.4%
		text-align: center
		width: 100%
		.phones-holder
			color: #36393d
			display: inline-block
			position: relative
			font-size: 20px
			font-weight: 400
			line-height: 1em
			// &:before
			// 	background-image: url('../img/icons/phone-icon-1.svg')
			// 	background-size: contain
			// 	content: ''
			// 	height: 29px
			// 	left: -10px
			// 	position: absolute
			// 	position: absolute
			// 	width: 12px
			.clear
				margin-bottom: 10px
			.fl
				cursor: pointer
				display: inline-block
				vertical-align: middle
				width: 200px
				&:before
					content: ''
					background-size: contain
					background-position: 50% 50%
					background-repeat: no-repeat
					display: inline-block
					vertical-align: middle
					height: 30px
					width: 30px
				&.life:before
					background-image: url('../img/content/operator-icon-life.png')
				&.viber:before
					background-image: url('../img/content/operator-icon-cellphone.png')
				&.kyivstar:before
					background-image: url('../img/content/operator-icon-kyivstar.png')
				&.mts:before
					background-image: url('../img/content/operator-icon-mts.png')
				&.mainphone:before
					background-image: url('../img/content/operator-icon-cellphone.png')
		.phones-list
			background: #fff
			padding: 0
			position: absolute
			overflow: hidden
			max-height: 0
			z-index: 1
			transition: max-height .3s, padding .3s
		.phones-list:hover, .mainphone:hover ~ .phones-list
			padding: 10px 0
			max-height: 600px
		.r-pimp.calll
			color: #333
			font-size: 12px
			font-weight: 400
			text-transform: uppercase
			position: relative
			&:hover
				color: $main-color
			&:before
				content: ''
				position: absolute
				bottom: 0
				left: 0
				height: 1px
				border-bottom: 0.25px dashed black
				width: 100%
	.phones
	.blue
		display: block

.search
	& > *
		position: relative
	input
		background: none
		background-color: transparent
		border: none
		width: 50px
		height: 50px
		vertical-align: middle
		&[type="submit"]
			background: #6bb6ee url('../img/icons/search-icon-1.svg') 50% 50% no-repeat
			position: absolute
			right: 0
			top: 0
			pointer-events: none
			cursor: pointer
		&[type="text"]
			border: 1px solid transparent
			transition: width .3s, border .3s, background .3s, pointer-events .3s .3s
			background: #fff
			cursor: pointer
			&:focus, &:active, &.opened
				cursor: initial
				border-color: #eee
				width: 400px
				& ~ [type="submit"]
					display: block
					pointer-events: all
					z-index: 1

.promo
	background: url('https://unsplash.it/1600/800/?blur&image=223') 50% 50%
	background: url('https://images.unsplash.com/photo-1431540015161-0bf868a2d407') 50% 50%
	background-size: cover
	.wrap2
		margin: 0 auto
		width: 80%
	.item
		position: relative
		// padding-left: 
		padding: 80px 0 80px 50%
		img
			position: absolute
			left: 0
			bottom: 0
			height: 100%
			// width: 40%
			background-position: 50% 50%
			background-size: cover
		h1
			font-size: 40px
			font-weight: 300
			line-height: 40px
			margin: 0
		h2
			color: #36393d
			font-size: 16px
			font-weight: 400
			line-height: 20px

.mservices
	.wrap
		margin: 50px auto 0
		width: 80%
	.fl1
		font-size: 0
		letter-spacing: 0
		text-align: center
		.item
			display: inline-block
			vertical-align: top
			margin-bottom: 64px
			position: relative
			width: 25%
			.title
				&, & a
					position: relative
					color: #36393d
					font-size: 14px
					font-weight: 900
					text-transform: uppercase
					text-align: center
					padding-top: 6px
				&:before
					$pseudo-width: 190px
					background: #000
					content: ''
					display: inline-block
					left: 50%
					position: absolute
					margin-left: $pseudo-width / -2
					top: -1px
					height: 1px
					width: $pseudo-width
			.title-hover
				&, & a
					color: #36393d
					font-size: 14px
					font-weight: 900
					text-transform: uppercase
					margin-bottom: 10px
			.adc.pract
				.s-all
					border-radius: 50%
					height: 130px
					width: 130px
					display: inline-block
				.s1
					@extend .s-all
					background-position: -1px -98px
				.s2
					@extend .s-all
					background-position: -199px -100px
				.s3
					@extend .s-all
					background-position: -399px -100px
				.s4
					@extend .s-all
					background-position: -1px -271px
				.s5
					@extend .s-all
					background-position: -198px -438px
				.s6
					@extend .s-all
					background-position: 0 -438px
				.s7
					@extend .s-all
					background-position: -396px -272px
				.s8
					@extend .s-all
					background-position: -197px -271px
				.text
					position: absolute
					left: 0
					top: 0
					background: transparent
					// right: 0
					// bottom: 0
					height: 100%
					width: 100%
					opacity: 0
					text-align: center
					transform: scale(1.6)
					transform-origin: 50% 50%
					transition: transform .3s, opacity .3s, background .3s
					// border-radius: 50%
					z-index: 1

					// display: table-cell
					// vertical-align: middle

					display: flex
					justify-content: center
					align-items: center

					// TODO remove
					// pointer-events: none
					a
						color: #36393d
						font-size: 14px
						line-height: 18px
				&:hover
					// border-radius: 50%
					.text
						background: #fff
						opacity: 1
						transform: scale(1)

/* Start:/bitrix/templates/usticon/css/sprites.css*/
.r-trng, .l-trng, .ic-fb, .ic-gplus, .ic-twitter, .ic-email, .ic-lj, .ic-vk, .soc2, .soc1, .soc3, .soc4, .soc5, .eng, .rus, .ukr, .s-1, .ic-logo, .ic-phone, .zoom, .close, .smlogo, .blackphone, .s5, .s6, .s7, .s8, .s4, .s3, .s2, .s1, .skype
	background: url('http://justicon.ua/bitrix/templates/usticon/css/sprites.png') no-repeat

.r-trng
	background-position: -346px -1px
	width: 31px
	height: 24px
	display: none

.l-trng
	background-position: -297px 0
	width: 30px
	height: 24px
	display: none

.ic-fb
	background-position: -592px 0
	width: 26px
	height: 24px

.ic-gplus
	background-position: -559px 0
	width: 24px
	height: 24px

.ic-twitter
	background-position: -520px 0
	width: 26px
	height: 24px

.ic-email
	background-position: -478px 0
	width: 26px
	height: 24px

.ic-lj
	background-position: -438px 0
	width: 26px
	height: 24px

.ic-vk
	background-position: -400px 0
	width: 26px
	height: 24px

.soc2
	background-position: -350px -49px
	width: 25px
	height: 19px

.soc1
	background-position: -299px -49px
	width: 25px
	height: 19px

.soc3
	background-position: -249px -48px
	width: 25px
	height: 19px

.soc4
	background-position: -199px -50px
	width: 25px
	height: 18px

.soc5
	background-position: -149px -50px
	width: 25px
	height: 19px

.eng
	background-position: -98px -50px
	width: 24px
	height: 18px

.rus
	background-position: -48px -50px
	width: 25px
	height: 18px

.ukr
	background-position: 0 -51px
	width: 24px
	height: 18px

.s-1
	background-position: -196px 0
	width: 24px
	height: 23px

.ic-logo
	background-position: -148px 0
	width: 33px
	height: 39px

.ic-phone
	background-position: -98px 0
	width: 34px
	height: 39px

.zoom
	background-position: -49px 0
	width: 26px
	height: 26px

.close
	background-position: 0 0
	width: 30px
	height: 30px

.smlogo
	background-position: -248px 0
	width: 37px
	height: 39px
