// TODO dev
.preloader
	display: none !important

.carousel .item:nth-child(1n+2)
	display: none !important
// TODO end dev

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__ 
	display: none !important
	opacity: 0 !important

// body::-webkit-scrollbar
	// height: 0
	// width: 0

.wrap
	margin: 0 auto
	width: 72.7%
	@media (max-width: $tablet)
		width: 100%

.container
	display: block

.clear
	display: table
	height: 0
	clear: both

.gamburger
	height: 50px
	padding: 14px 14px
	cursor: pointer
	display: none
	float: left
	@media (max-width: $tablet)
		display: block
	span
		background: #fff
		display: block
		height: 3px
		margin: 6px 0
		width: 30px
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0

.paginator-holder, .controls
	text-align: center
	.page
		display: inline-block
		vertical-align: middle
		border: 1px solid #000
		height: 10px
		width: 10px
		border-radius: 50%
		margin: 0 8px
		cursor: pointer
		&.active
			background-color: #243e57
		&:hover
			margin: 0 7px
			height: 12px
			width: 12px

// .menu
body > .menu
	background-color: #36393d
	color: #eee
	font-size: 12px
	position: relative
	.wrap
		margin: 0
		& > ul
			@media (max-width: $tablet)
				display: none
	a
		display: inline-block
		color: white
		// font-family: OpenSans
		font-size: 16px
		font-weight: 600
		text-transform: uppercase
		line-height: 50px
		height: 50px
		&:hover
			color: $main-color
			// & ~ .submenu
			// 	display: block
			// 	z-index: 1
	.close
		position: absolute
		right: 0
		top: 0
		height: 20px
		width: 20px
		background: transparent url('../img/icons/cross-icon-1.svg') 50% 50% no-repeat
		background-size: contain
		display: none
	.submenu
		display: none
		background: #000
		position: absolute
		left: -30px
		top: 50px
		max-width: 80vw
		white-space: nowrap
		padding: 18px
		a
			font-size: 12px
		ul
			margin-left: 0
	ul
		margin-left: 30px
		& > li
			display: inline-block
			margin-right: 27px
			position: relative
			white-space: nowrap
			&.first
				display: none
			&:hover
				& > .submenu
					display: block
					z-index: 1
	.search
		position: absolute
		right: 0
		top: 0

// .menu2
.menu2
	color: #000
	font-size: 12px
	a
		color: #333
		font-size: 14px
		font-weight: 400
	ul
		white-space: nowrap
		& > li
			display: inline-block
			// margin-right: 28px
			padding: 0 14px
			position: relative
			white-space: nowrap
			&.first
				display: none
			&:hover
				& > .submenu
					display: block
					max-height: 600px
					transition: max-height .9s
					width: auto
					z-index: 2
	.submenu, .submenu2
		$invisible-paddings: 5px
		width: 0
		// background: #f9f9f9
		position: absolute
		padding-top: 15px + $invisible-paddings
		padding-bottom: 2px + $invisible-paddings
		left: -14px
		left: 0
		top: 18px
		// top: -17px
		max-height: 0
		overflow: hidden
		transition: max-height .6s
		z-index: 1
		// box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
		// border-top: 5px solid $main-color
		&:before
			// content: ''
			background: $main-color
			position: absolute
			height: 5px
			left: 0
			top: 0
			width: 100%
		&:after
			content: ''
			position: absolute
			left: $invisible-paddings
			right: $invisible-paddings
			bottom: $invisible-paddings
			top: 18px
			background: #f9f9f9
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
			z-index: 0
		.close
			display: none
		a
			display: block
			line-height: 40px
			padding: 0 14px + $invisible-paddings
			margin: 0 $invisible-paddings
			position: relative
			z-index: 1
			&:hover
				background: $main-color
				color: #fff
		.header
			a, &:hover
				background: #f9f9f9
				color: #333

.header
	.logo.invisible
		opacity: 0
		height: 0
		width: 0
	.wrap
		padding: 0 35px
		display: table
		width: 100%
		& > *
			display: table-cell
			vertical-align: middle
			white-space: nowrap
			width: 1px
	.langs
		@media (max-width: $tablet)
			display: none
		& > *
			display: none
			&.actlang
				display: block
				color: transparent
	.logotype-holder
		padding: 16px 0 9px
		@media (max-width: $tablet)
			text-align: center
	.bccall
		padding-right: 12.4%
		text-align: center
		width: 100%
		@media (max-width: $tablet)
			display: none
		.phones-holder
			color: #36393d
			display: inline-block
			position: relative
			font-size: 20px
			font-weight: 400
			line-height: 1em
			// &:before
			// 	background-image: url('../img/icons/phone-icon-1.svg')
			// 	background-size: contain
			// 	content: ''
			// 	height: 29px
			// 	left: -10px
			// 	position: absolute
			// 	position: absolute
			// 	width: 12px
			.clear
				margin-bottom: 10px
			.fl
				cursor: pointer
				display: inline-block
				vertical-align: middle
				width: 200px
				&:before
					content: ''
					background-size: contain
					background-position: 50% 50%
					background-repeat: no-repeat
					display: inline-block
					vertical-align: middle
					height: 30px
					width: 30px
				&.life:before
					background-image: url('../img/content/operator-icon-life.png')
				&.viber:before
					background-image: url('../img/content/operator-icon-cellphone.png')
				&.kyivstar:before
					background-image: url('../img/content/operator-icon-kyivstar.png')
				&.mts:before
					background-image: url('../img/content/operator-icon-mts.png')
				&.mainphone:before
					background-image: url('../img/content/operator-icon-cellphone.png')
		.phones-list
			background: #fff
			padding: 0
			position: absolute
			overflow: hidden
			max-height: 0
			z-index: 1
			transition: max-height .3s, padding .3s
		.phones-list:hover, .mainphone:hover ~ .phones-list
			padding: 10px 0
			max-height: 600px
		.r-pimp.calll
			color: #333
			font-size: 12px
			font-weight: 400
			text-transform: uppercase
			position: relative
			&:hover
				color: $main-color
			&:before
				content: ''
				position: absolute
				bottom: 0
				left: 0
				height: 1px
				border-bottom: 0.25px dashed black
				width: 100%
	.phones
	.blue
		display: block
	.menu2
		@media (max-width: $tablet)
			display: none

.search
	& > *
		position: relative
	input
		background: none
		background-color: transparent
		border: none
		width: 50px
		height: 50px
		vertical-align: middle
		&[type="submit"]
			background: #6bb6ee url('../img/icons/search-icon-1.svg') 50% 50% no-repeat
			position: absolute
			right: 0
			top: 0
			pointer-events: none
			cursor: pointer
		&[type="text"]
			border: 1px solid transparent
			transition: width .3s, border .3s, background .3s, pointer-events .3s .3s
			background: #fff
			cursor: pointer
			&:focus, &:active, &.opened
				cursor: initial
				border-color: #eee
				width: 400px
				max-width: 100%
				max-width: calc(100vw - 15px)
				& ~ [type="submit"]
					display: block
					pointer-events: all
					z-index: 1

.bc
	margin: 14px 0
	@media (max-width: $tablet)
		padding: 0 20px
	&, p, span, a
		color: #999
		font-size: 11px
		font-weight: 400
		line-height: 1em
	> *
		display: inline-block
		margin-right: 6px

.promo
	background: url('https://unsplash.it/1600/800/?blur&image=223') 50% 50%
	background: url('https://images.unsplash.com/photo-1431540015161-0bf868a2d407') 50% 50%
	background-size: cover
	position: relative
	&:before
		content: ''
		background: rgba(255,255,255,0.6)
		// opacity: 0.2
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: 100%
		@media (max-width: $tablet)
			z-index: 1
	.wrap2
		margin: 0 auto
		width: 72.7%
		@media (max-width: $tablet)
			width: 100%
	.more
		// line-height: 40px
		border-radius: 3px
		color: white
		font-size: 14px
		font-weight: 400
		text-transform: uppercase
		text-align: center
		display: inline-block
		margin-top: 25px
		@media (max-width: $tablet)
			display: block
			text-align: center
		a
			background-color: #f54f29
			display: inline-block
			color: white
			padding: 11px 42px
			&:hover
				background-color: #d63d1a
	.item
		position: relative
		// padding-left: 
		padding: 95px 0 99px 46.4%
		@media (max-width: $tablet)
			padding: 20px
		*
			position: relative
			@media (max-width: $tablet)
				z-index: 2
		img
			position: absolute
			left: 0
			bottom: 0
			height: 100%
			// width: 40%
			background-position: 50% 50%
			background-size: cover
			@media (max-width: $tablet)
				height: auto
				z-index: 0
				max-width: 65%
				max-height: 100%
		h1
			font-size: 40px
			font-weight: 300
			line-height: 40px
			margin: 0 0 21px 0
			@media (max-width: $tablet)
				font-size: 26px
				line-height: 33px
				margin: 0 0 11px 0
		h2
			color: #36393d
			font-size: 16px
			font-weight: 400
			line-height: 20px
			@media (max-width: $tablet)
				font-size: 14px
				line-height: 21px
		b
			white-space: nowrap

.mservices
	.wrap
		margin-top: 50px
		width: 80%
		@media (max-width: $tablet)
			overflow: hidden
			padding: 0 10px
			width: 100%
			z-index: 1
	.fl1
		font-size: 0
		letter-spacing: 0
		text-align: center
		.item
			display: inline-block
			vertical-align: top
			margin-bottom: 64px
			position: relative
			width: 25%
			@media (max-width: $tablet)
				width: 50%
			@media (max-width: $mobile-large)
				width: 100%
				width: 50%
				padding: 0 5px
				margin-bottom: 40px
				position: relative
			.title
				&, & a
					color: #36393d
					font-size: 14px
					font-weight: 700
					text-transform: uppercase
					text-align: center
					padding-top: 6px
					@media (max-width: $mobile-large)
						margin-top: -20px
						padding-top: 0
						font-size: 11px
				&:before
					// content: ''
					$pseudo-width: 190px
					background: #000
					display: inline-block
					left: 50%
					position: absolute
					margin-left: $pseudo-width / -2
					top: -1px
					height: 1px
					width: $pseudo-width
			.title-hover
				&, & a
					color: #36393d
					font-size: 14px
					font-weight: 700
					text-transform: uppercase
					margin-bottom: 10px
					@media (max-width: $mobile-large)
						font-size: 11px
			.adc.pract
				.s-all
					border-radius: 50%
					height: 130px
					width: 130px
					display: inline-block
					@media (max-width: $mobile-large)
						transform: scale(0.6)
				.s1
					@extend .s-all
					background-position: -1px -98px
				.s2
					@extend .s-all
					background-position: -199px -100px
				.s3
					@extend .s-all
					background-position: -399px -100px
				.s4
					@extend .s-all
					background-position: -1px -271px
				.s5
					@extend .s-all
					background-position: -198px -438px
				.s6
					@extend .s-all
					background-position: 0 -438px
				.s7
					@extend .s-all
					background-position: -396px -272px
				.s8
					@extend .s-all
					background-position: -197px -271px
				.text
					pointer-events: none

					position: absolute
					left: 0
					top: 0
					background: transparent
					// right: 0
					// bottom: 0
					height: 100%
					width: 100%
					opacity: 0
					text-align: center
					transform: scale(1.6)
					transform-origin: 50% 50%
					transition: transform .3s, opacity .3s, background .3s
					// border-radius: 50%
					z-index: 1

					// display: table-cell
					// vertical-align: middle

					display: flex
					justify-content: center
					align-items: center

					// TODO remove
					// pointer-events: none
					a
						color: #36393d
						font-size: 14px
						line-height: 18px
						@media (max-width: $mobile-large)
							font-size: 11px
				&:hover
					// border-radius: 50%
					.text
						background: #fff
						opacity: 1
						transform: scale(1)
						pointer-events: all


.search-section
	background: url('../img/bg/search-bg.jpg') 50% 50% no-repeat
	background-size: cover
	margin-top: -16px
	.wrap
		margin: 0 auto
		padding: 81px 20px 90px
		width: 100%
		max-width: 882px
	.search-wrapper
		text-align: center
		h1
			line-height: 1em
			margin: 0 0 22px
			color: #333
			font-size: 40px
			font-weight: 100
			@media (max-width: $mobile-large)
				font-size: 26px
		.input-form
			input
				background-color: white
				border: 1px solid #e2e2e2
				box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1)
				height: 50px
				margin-bottom: 25px
				width: 100%
				&::placeholder
					color: #333
					font-size: 18px
					font-weight: 300
					text-align: center
		button
			background-color: #f54f29
			border-radius: 3px
			color: white
			font-size: 14px
			font-weight: 400
			padding: 14px 40px
			text-transform: uppercase
			&:hover
				background-color: #d63d1a

.partners
	.wrap
	.controls, .paginator-holder
		margin-top: 58px
	.label-holder
		text-align: center
		margin-top: 38px
		margin-bottom: 29px
		h1, h2, h3, h4, h5, h6
			color: #333
			font-size: 30px
			font-weight: 300
			line-height: 1em
	.parnters-holder
		.lnb.disabled
		.caroufredsel_wrapper
			overflow: hidden
			overflow-x: auto
			overflow-y: hidden
			&::-webkit-scrollbar
				height: 0
				width: 0
			.parnters-container
				white-space: nowrap
				width: 300%
				.part
					display: inline-block
					vertical-align: middle
					// max-height: 100px
					// max-width: 100px
					text-align: center
					margin: 0 20px

.top-news
	margin-top: 26px
	padding-bottom: 50px
	background: #f9f9f9
	.controls, .paginator-holder
		margin-top: 0px
	.top-news-holder
		padding-top: 30px
		padding-bottom: 14px
		.lnb.disabled
		.caroufredsel_wrapper
			overflow: hidden
			.parnters-container
				width: 800%
				font-size: 0
				letter-spacing: 0
				white-space: nowrap
				.part
					margin-right: 21px
					position: relative
					display: inline-block
					width: 325px
					height: 300px
					overflow: hidden
					&:before
						background: #fff
						content: ''
						position: absolute
						left: 0
						top: 0
						height: 100%
						width: 100%
						opacity: 0.6
					.label
						color: #36393d
						font-size: 20px
						font-weight: 300
						line-height: 24px
						overflow: hidden
						max-height: 50%
						position: absolute
						left: 30px
						right: 30px
						top: 30px
						white-space: normal
					img
					.btn
						color: white
						font-size: 14px
						font-weight: 400
						text-transform: uppercase
						background-color: transparent
						border: 2px solid white
						border-radius: 3px
						padding: 8px 26px
						position: absolute
						bottom: 46px
						white-space: nowrap
						left: 50%
						transform: translateX(-50%)
						transition: background .3s, color .3s, border .3s
					&:hover
						.btn
							background-color: #243e57
							border-color: #243e57

.about.opensans
	@media (max-width: $tablet)
		padding: 0 20px
	&, p
		color: #777
		font-size: 14px
		font-weight: 400
		line-height: 20px
		margin-top: 23px
		padding-left: 120px
		@media (max-width: $tablet)
			padding-left: 20px

.main.wide-l
	.rb.opensans.leftb
		a#ban-cons3.zaprosconl
		.title
		.partners
			.parnters-holder
				.lnb
				.parnters-container
					.part
						div
							span
								img
				.rnb
				#pager2
	.main-container
		.contacts
			$mobile-media-width: 1200px
			table.address
				margin-top: 80px
				@media (max-width: $mobile-media-width)
					display: block
					margin-top: 40px
				@media (max-width: $tablet)
					padding-left: 20px
					padding-right: 20px
				.title
					color: #243e57
					font-size: 28px
					font-weight: 300
					line-height: 40px
					margin-bottom: 16px
					&:nth-child(1n+2)
						margin-top: 60px
						@media (max-width: $mobile-media-width)
							margin-top: 0
				p
					color: #666
					font-size: 16px
					font-weight: 400
					line-height: 30px
				iframe
					@media (max-width: $mobile-media-width)
						height: 80vh
						width: 100%
				tbody
					@media (max-width: $mobile-media-width)
						display: block
					tr
						@media (max-width: $mobile-media-width)
							display: block
						td
							vertical-align: top
							@media (max-width: $mobile-media-width)
								display: block
							.fl, .t
								display: inline-block
								vertical-align: middle
							.t
								color: #36393d
								font-size: 20px
								font-weight: 400
								line-height: 40px
								margin-left: 16px
								// TODO remode it from DOM!
								img
									display: none
							.fl
								height: 30px
								width: 30px
							.blackphone
								background-image: url("../img/content/operator-icon-cellphone.png")
							.life
								background-image: url("../img/content/operator-icon-life.png")
							.kyivstar
								background-image: url("../img/content/operator-icon-kyivstar.png")
							.skype
								background-image: url("../img/content/operator-icon-kyivstar.png")
							&:nth-child(1)
								width: 100%
								.clear + p
									// TODO remode it from DOM!
									// color: red !important
									display: none
								span.blue
									display: none
									a.calll.r-pimp
									a.r-pimp.zaprosl
									a.r-pimp.zaprosconl
							&:nth-child(2)
								width: 1px
								@media (max-width: $mobile-media-width)
									width: 100%
			.hr
				margin-top: 50px
				height: 1px
				background-color: #f2f2f3
			table.emails
				margin-top: 50px
				margin-bottom: 95px
				@media (max-width: $mobile-media-width)
					display: block
				@media (max-width: $tablet)
					padding-left: 20px
					padding-right: 20px
				tbody
					@media (max-width: $mobile-media-width)
						display: block
					tr
						@media (max-width: $mobile-media-width)
							display: block
						td
							color: #243e57
							font-size: 24px
							// line-height: 30px
							line-height: 1.25em
							font-weight: 300
							padding-bottom: 44px
							@media (max-width: $mobile-media-width)
								display: block
							@media (max-width: $tablet)
								padding-bottom: 21px
								font-size: 20px
								line-height: 1.25em
							a
								color: #0093dd
								display: block
								font-size: 14px
								font-weight: 400
								margin-top: 14px
								text-decoration: none
								@media (max-width: $tablet)
									margin-top: 0


.search-input-1
	position: relative
	overflow: hidden
	margin-top: 75px
	@media (max-width: $tablet)
		padding: 0 20px
	.wrap
		position: relative
	input[type="text"], input.text
		background-color: #ffffff
		border: 1px solid #e2e2e2
		box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1)
		height: 49px
		margin: 0
		padding-left: 20px
		width: 100%
		&::placeholder
			color: #666
			font-size: 16px
			font-weight: 300
		&:focus ~, &.focus ~
			input[type="submit"], input.submit
					transform: translateY(0)
					transition: transform .3s
	input[type="submit"], input.submit
		display: inline-block
		height: 49px
		position: absolute
		top: 0
		right: 0
		background: none
		border: none
		color: $main-color
		font-size: 15px
		font-weight: 700
		transform: translateY(100%)
		transition: transform .3s .6s
		text-transform: uppercase

// SEARCH PAGE
.search-page
	@media (max-width: $tablet)
		padding: 0 20px
	& > form
		position: relative
		padding: 15px 0
		input
			height: 50px
			width: 50%
		input[type="text"]
			width: 100%
			color: #666
			font-size: 16px
			font-weight: 300
			background-color: white
			border: 1px solid #e2e2e2
			box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.06)
		input[type="submit"]
			background: #6bb6ee url('../img/icons/search-icon-1.svg') 50% 50% no-repeat
			border: none
			position: absolute
			right: 0
			top: 0
			width: 50px
		td
			position: relative
		noindex
			display: none
		&:before
			content: ''
			position: absolute
			background-color: #eef2f8
			top: 0
			bottom: 0
			left: calc(-13.5vw)
			right: calc(-13.5vw)
			z-index: -1
			@media (max-width: $tablet)
				left: -20px
				right: -20px
	.search-result
		.search-item
			margin-top: 36px
			h4
				margin-bottom: 16px
				&, & a
					color: #243e57
					font-size: 28px
					line-height: 1.4em
					font-weight: 300
			.search-preview
				color: #666
				font-size: 14px
				line-height: 20px
				font-weight: 400
			.search-item-meta
				display: none
			&:first-child
				margin-top: 42px
		font.text
			display: block
			text-align: center
			font-size: 0
			letter-spacing: 0
			margin-top: 21px
			a, b
				color: #243e57
				display: inline-block
				position: relative
				font-size: 18px
				font-weight: 300
				line-height: 1em
				line-height: 30px
				margin: 0 3px
				height: 30px
				vertical-align: middle
				width: 30px
				// TODO remove it
				&:nth-last-child(1), &:nth-last-child(2)
					display: none
			b
				&:after
					content: ''
					position: absolute
					z-index: -1
					left: 0
					right: 0
					top: 0
					bottom: 0
					// width: 30px
					// height: 30px
					background-color: #bed8f0
		.search-sorting
			margin-top: 40px
			b
				margin: 0 10px
			a
				color: #bed8f0

.consult-me-block
	background-color: #eef2f8
	margin: 64px 0 101px
	padding: 44px 68px 49px
	@media (max-width: $tablet)
		margin: 64px 0 0
		padding: 44px 20px 49px
	h1, h2, h3, h4, h5, h6
		color: #243e57
		font-size: 24px
		font-weight: 300
		line-height: 30px
	button, .btn
		color: white
		font-size: 12px
		font-weight: 400
		text-transform: uppercase
		background-color: #243e57
		border-radius: 3px
		padding: 12px 23px
		margin-top: 25px

.sales-bonuses-block
	margin-top: 50px
	margin-bottom: 54px
	position: relative
	padding-left: 70px
	&:before
		content: '$'
		position: absolute
		left: 0
		top: 0
		width: 50px
		height: 50px
		color: white
		font-size: 38px
		font-weight: 300
		line-height: 48px
		background-color: #6bb6ee
		text-align: center
		border-radius: 50%

.accordion
	.allHeaders
		margin: 0
	.h1
		@extend .allHeaders
		color: #243e57
		font-size: 18px
		font-weight: 400
		line-height: 1.66em
	.h2
		@extend .allHeaders
		color: #666
		font-size: 16px
		font-weight: 400
		line-height: 1.875em
	.h3
		@extend .allHeaders
		color: #666
		font-size: 12px
		font-weight: 400
		line-height: 1.875em
	.h4
		@extend .allHeaders
	.h5
		@extend .allHeaders
	.h6
		@extend .allHeaders
	table
		border-collapse: collapse
		table-layout: fixed
		width: 100%
		tr
			vertical-align: top
			td
				&:nth-child(1)
					width: 40%
				&:nth-child(2)
					text-align: right
					width: 20%
				&:nth-child(3)
					width: 20%
				&:nth-child(4)
					width: 20%
	.price-item
		margin-bottom: 20px
	.price-title
		&, a
			color: #0093dd
			font-size: 16px
			font-weight: 400
			line-height: 1.25em
	.price-term
		color: #999
		font-size: 14px
		font-weight: 400
		// line-height: 20px
	.price-value
		color: #243e57
		font-size: 16px
		font-weight: 600
		// line-height: 20px

.footer
	background-color: #bed8f0
	.wrap
		letter-spacing: 0
		font-size: 0
		@media (max-width: $tablet)
			padding: 0 20px
	a
		color: #666
		font-size: 12px
		font-weight: 400
		line-height: 15px
	.b-all
		display: inline-block
		vertical-align: top
		width: 38%
		float: left
		padding-right: 40px
		@media (max-width: $mobile-large)
			float: none
			width: 100%
	.b1
		@extend .b-all
	.b2
		@extend .b-all
	.b3
		@extend .b-all
		padding-right: 0
		width: 24%
		@media (max-width: $mobile-large)
			width: 100%
	.b4
		@extend .b-all
	.b5
		@extend .b-all
		padding-top: 20px
		padding-right: 0
		line-height: 15px
		width: 24%
		@media (max-width: $mobile-large)
			width: 100%
		p
			color: #666
			font-size: 12px
			font-weight: 400
		a, .blue
			color: $main-color
	.head, .b5 b
		color: #333
		font-size: 12px
		font-weight: 600
		line-height: 15px
		padding-top: 37px
		margin-bottom: 3px
		text-transform: uppercase
	.bld
		font-weight: 700
	a
		color: #666
		font-size: 12px
		font-weight: 400
		line-height: 15px
	.soc
		text-align: center
		&:before, &:after
			content: ''
			display: table
			clear: both
		.head
			display: none
		& > div
			display: inline-block
			margin: 29px 2px 0
		noindex
			display: none
	.b
		color: #666
		font-size: 12px
		font-weight: 400
		line-height: 15px
		text-align: center
		.b1
			margin-bottom: 40px
			margin-top: 9px
			width: 100%
			@media (max-width: $tablet)
				padding-right: 0
			p
				color: #666
				font-size: 12px
				font-weight: 400
				line-height: 20px
		.b2
			display: none

// MODALS
.modal
	background: #fff
	display: none
	overflow: auto
	opacity: 0
	position: fixed
	left: 0
	top: 0
	height: 100%
	width: 100%
	z-index: 11
	&.opened
		display: block
		opacity: 1
		animation: modalOpen 0.6s
		animation-fill-mode: forwards
	&.clothing
		animation: modalClose 0.6s
		animation-fill-mode: forwards

#totop
	position: fixed
	right: 20px
	bottom: 20px
	display: none

/* Start:/bitrix/templates/usticon/css/sprites.css*/
.r-trng, .l-trng, .ic-fb, .ic-gplus, .ic-twitter, .ic-email, .ic-lj, .ic-vk, .soc2, .soc1, .soc3, .soc4, .soc5, .eng, .rus, .ukr, .s-1, .ic-logo, .ic-phone, .zoom, .close, .smlogo, .blackphone, .s5, .s6, .s7, .s8, .s4, .s3, .s2, .s1, .skype
	background: url('http://justicon.ua/bitrix/templates/usticon/css/sprites.png') no-repeat

.r-trng
	background-position: -346px -1px
	width: 31px
	height: 24px
	display: none

.l-trng
	background-position: -297px 0
	width: 30px
	height: 24px
	display: none

.ic-fb
	background-position: -592px 0
	width: 26px
	height: 24px

.ic-gplus
	background-position: -559px 0
	width: 24px
	height: 24px

.ic-twitter
	background-position: -520px 0
	width: 26px
	height: 24px

.ic-email
	background-position: -478px 0
	width: 26px
	height: 24px

.ic-lj
	background-position: -438px 0
	width: 26px
	height: 24px

.ic-vk
	background-position: -400px 0
	width: 26px
	height: 24px

.eng
	background-position: -98px -50px
	width: 24px
	height: 18px

.rus
	background-position: -48px -50px
	width: 25px
	height: 18px

.ukr
	background-position: 0 -51px
	width: 24px
	height: 18px

.s-1
	background-position: -196px 0
	width: 24px
	height: 23px

.ic-logo
	background-position: -148px 0
	width: 33px
	height: 39px

.ic-phone
	background-position: -98px 0
	width: 34px
	height: 39px

.zoom
	background-position: -49px 0
	width: 26px
	height: 26px

.close
	background-position: 0 0
	width: 30px
	height: 30px

.smlogo
	background-position: -248px 0
	width: 37px
	height: 39px


// SOCIALS spline
.soc2, .soc1, .soc3, .soc4, .soc5
	background: url('../img/content/socials-spline.svg') no-repeat
	display: block
	height: 38px
	width: 38px

.soc1
	background-position: 0px 0px
.soc2
	background-position: -42px 0px
.soc3
	background-position: -84px 0px
.soc4
	background-position: -126px 0px
.soc5
	background-position: -168px 0px
