doctype html
html(lang='en')
	head
		title Justicon
		include ./partials/head.jade
	body
		include ./partials/navigation.jade

		section.page-label
			.container
				h1 ПРОЕКТ «#ProBono»
		section.about-page
			.container
				//- h1 ПРОЕКТ «#ProBono»
				img(src='http://justicon.ua/upload/medialibrary/3c5/probono-news.jpg', title='probono', border='0', alt='probono-news.jpg')
				h3 КОНЦЕПЦИЯ ПРОЕКТА
				p Проект "#Probono" обеспечивает возможность гражданам Украины получить юридическую помощь бесплатно или за минимальное вознаграждение.
				p Под юридической помощью разумеется юридическая консультация, помощь в подготовке процессуальных и других правовых документов, представительство интересов в судах, с целью защиты прав и свобод человека, их восстановления в случае нарушения.
				p Проект «#ProBono» принадлежит юридической компании «Юстикон», является внутрифирменным проектом. К проекту могут быть привлечены исключительно адвокаты или юристы – сотрудники компании «Юстикон», и лица, подавшие заявку на участие в проекте.
				p В проект «#ProBono» не входит другая деятельность, не связанная с непосредственным применением навыков адвокатов компании.
				h3 УСЛОВИЯ ПРОЕКТА
				ol
					li
						span Для участия в проекте необходимо подать заявку, предоставить копии документов, связанных с делом. Заявка должна быть заполнена от руки и подписанная заявителем с указанием даты и электронной почты.
					li
						span Прием заявок осуществляется исключительно по почте, через службы доставки или по электронной почте.
					li
						span Заявитель является ответственным лицом за достоверность поданной информации в заявке и прилагающих документах.
					li
						span В течение 10 дней со дня получения все заявки рассматриваются и оцениваются компанией.
					li
						span Компания не уточняет причины недопущения заявки к проекту.
					li
						span В случае если один заявитель направил более, чем 1 заявку, компания рассматривает все заявки с момента их получения.
					li
						span В случае если один заявитель подал более, чем 1 заявку по одному вопросу, компания оценивает и допускает к проекту последнюю по дате получения заявку. 
					li
						span Заявителю предоставляется право подавать заявки на участие в проекте «#ProBono» неограниченное количество.
					li
						span Компания гарантирует сохранение конфиденциальности данных о заявителе и информации о судебных делах.
					li
						span При рассмотрении заявок компания оставляет право за собой осуществлять проверку изложенных обстоятельств.
					li
						span Компания гарантирует отсутствие привилегий или ограничений к лицам по признакам расы, цвета кожи, политических, религиозных или других убеждений, пола, социального происхождения, по языковым или другим признакам.
					li
						span Компания не несет ответственность за заявки, что по независимым от компании причинам не были доставлены почтой или службой доставки.
					li
						span После рассмотрения заявки, компания принимает решение о допуске заявки к проекту и закрепляет за делом адвоката/юриста компании 
							b «ЮСТИКОН».
					li
						span Компания оставляет за собой право не уточнять причины замены адвоката/юриста.
					li
						span Компания сообщает заявителю о результате рассмотрения каждой заявки по электронной почте.
					li
						span Адвокаты/юристы проекта «#ProBono» ведут переговоры по заявке только с заявителем или представителем от имени заявителя.
					li
						span Заявка без указания местожительства, электронной почты, не подписанная автором признается анонимной и рассмотрению не подлежит.
				h3 КТО ИМЕЕТ ПРАВО ПОДАТЬ ЗАЯВКУ?
				h4 Подать заявку на участие в проекте «#ProBono» имеют право:
				ol
					li
						span Физические лица, достигшие совершеннолетие. 
					li
						span Юридические лица. 
				b От заявителя требуется:
				ul
					li(style='text-align: justify;') жалоба, что относиться к одной из практик, допущенных к проекту «#ProBono»;
					li(style='text-align: justify;')
						| лично от руки изложить суть жалобы, заслуживающей внимание и по мнению заявителя предполагающая успешный исход, на русском или украинском языках.
					li(style='text-align: justify;') жалоба актуальная по срокам рассмотрения. 
				br
				table
					thead
						tr
							td(colspan="2")
								span СФЕРА ПРИМЕНЕНИЯ ПРОЕКТА «Pro Bono»
					tbody
						tr
							td
								h4 Практики, что допускаются к проекту:
								p
									| Хозяйственные споры
								ul
									li Административные споры
									li Гражданские споры
									li Трудовые споры
									li Семейные споры
									li Наследственные споры
									li Земельные споры
									li Споры в сфере недвижимости
									li Налоговые споры
									li Возврат долгов
							td
								h4 
									| Практики, что
									b  НЕ 
									| допускаются к проекту:
								ul
									li Корпоративное право
									li Антимонопольное и конкурентное право
									li Миграционное право
									li Недвижимость, кроме споров
									li Строительство, кроме споров
									li Земельное право, кроме споров
				p
					| Юридическая компания 
					b «ЮСТИКОН»
					|  оставляет за собой право принять в проект «#ProBono» жалобу, что не допускается к проекту, в исключительных случаях, в том числе по инвалидности, в связи с чрезвычайным материальным затруднением или риском физическому здоровью человека.
				h3 КАК ПОДАТЬ ЗАЯВКУ?
				p
					b
						| Компания «ЮСТИКОН» принимает заявки на участие в проекте на бумажном носителе или в электронной версии. Пожалуйста, выполните следующие действия:
				ol
					li Распечатайте бланк заявки на участие в проекте #ProBono. *гиперссылка для скачивания*
					li Заполните бланк заявки в полном объеме, подпишите, поставьте дату на последней странице.
					li Прикрепите к бланку заявки копии документов, относящиеся к жалобе.
					li Отправьте заполненную и подписанную заявку, а также все документы, или по адресу:
					address
						p ООО «Юстикон» ул. Старовокзальная, 18 г. Киев 01032 
					
					li С 17 июня в проект #ProBono допускаются заявки на электронном носителе. Отправьте отсканированные заявку и документы на электронную почту проекта probono@justicon.ua.
				h5 Обращаем внимание на следующее:
				p
					| После получения заявки, компании необходимо 10 (десять) рабочих дней, чтобы рассмотреть и оценить заявку с документацией. В это время запросы / обращения от Заявителей относительно результата рассмотрения не принимаются.
				p
					| В случае если полученная документация от Заявителя не соответствует требованиям проекта, заявка не рассматривается.
				p
					| В связи с большим количеством заявок, получаемых ежедневно, компания не подтверждает получение заявки и документов по телефону или по электронной почте.

		section.container
			.consult-me-block
				h2 Обращайтесь и мы качественно и в кратчайший срок выполним поставленные вами задачи!
				a.btn.hot(href="#") Заказать услугу
				a.btn(href="#") Заказать консультацию

		include ./partials/footer.jade
		include ./partials/modals.jade
	include ./partials/scripts.jade
