doctype html
html(lang='en')
	head
		title Justicon
		include ./partials/head.jade
	body
		include ./partials/navigation.jade

		//-
		.wrap
			.bc
				div(itemtype='http://data-vocabulary.org/Breadcrumb', itemscope='')
					a(itemprop='url', href='/', title='Главная')
						span(itemprop='title') Главная
				div  » 
				div(itemtype='http://data-vocabulary.org/Breadcrumb', itemscope='')
					span(itemprop='title') Про BONO
			.tophr
			.main.wide-l
				h1#page-tit Про BONO
				.rb.opensans.leftb
					a#ban-cons3.zaprosconl
					.title Наши клиенты
					.partners
						.parnters-holder
							.lnb
							.parnters-container
								.part
									div
										span
											img(src='/upload/iblock/4b3/HyundaiLogo.png', data-href='/nashi-klienty/?client=472')
									div
										span
											img(src='/upload/iblock/22a/KIA.png', data-href='/nashi-klienty/?client=471')
									div
										span
											img(src='/upload/iblock/995/Luxoft_logo.png', data-href='/nashi-klienty/?client=470')
									div
										span
											img(src='/upload/iblock/219/EPAM_logo.png', data-href='/nashi-klienty/?client=469')
									div
										span
											img(src='/upload/iblock/543/yandex2.png', data-href='/nashi-klienty/?client=487')
									div
										span
											img(src='/upload/iblock/474/Metinvest_Logo_Ukr2.png', data-href='/nashi-klienty/?client=474')
								.part
									div
										span
											img(src='/upload/iblock/797/carlsberg_crown_logo_on_green.jpg', data-href='/nashi-klienty/?client=488')
									div
										span
											img(src='/upload/iblock/f97/Logo_OTIS300dpi.png', data-href='/nashi-klienty/?client=486')
									div
										span
											img(src='/upload/iblock/0fc/new_csa_logo_mar_2008.png', data-href='/nashi-klienty/?client=490')
									div
										span
											img(src='/upload/iblock/c78/Лисод.png', data-href='/nashi-klienty/?client=473')
									div
										span
											img(src='/upload/iblock/293/Кировский завод ОЦМ.png', data-href='/nashi-klienty/?client=475')
									div
										span
											img(src='/upload/iblock/bad/ЕВРАЗ.png', data-href='/nashi-klienty/?client=489')
								.part
									div
										span
											img(src='/upload/iblock/033/uralremont.png', data-href='/nashi-klienty/?client=477')
									div
										span
											img(src='/upload/iblock/b18/ukrdom.png', data-href='/nashi-klienty/?client=479')
									div
										span
											img(src='/upload/iblock/bca/КРИВБАССПЕЦПРОЕКТ.png', data-href='/nashi-klienty/?client=478')
									div
										span
											img(src='/upload/iblock/49e/vse-logo.png', data-href='/nashi-klienty/?client=480')
									div
										span
											img(src='/upload/iblock/72b/ua-tenders.gif', data-href='/nashi-klienty/?client=481')
									div
										span
											img(src='/upload/iblock/966/TENTE.png', data-href='/nashi-klienty/?client=492')
								.part
									div
										span
											img(src='/upload/iblock/fb3/TMM.png', data-href='/nashi-klienty/?client=493')
									div
										span
											img(src='/upload/iblock/b68/horizont.png', data-href='/nashi-klienty/?client=482')
									div
										span
											img(src='/upload/iblock/f80/ЕБЕРСПЕХЕР-logo.png', data-href='/nashi-klienty/?client=495')
									div
										span
											img(src='/upload/iblock/abc/asmap_1.png', data-href='/nashi-klienty/?client=496')
									div
										span
											img(src='/upload/iblock/2ec/14284.png', data-href='/nashi-klienty/?client=497')
									div
										span
											img(src='/upload/iblock/b9a/DEC.gif', data-href='/nashi-klienty/?client=498')
								.part
									div
										span
											img(src='/upload/iblock/a96/ITK-logo-ua.gif', data-href='/nashi-klienty/?client=483')
									div
										span
											img(src='/upload/iblock/241/gazetaua.png', data-href='/nashi-klienty/?client=484')
									div
										span
											img(src='/upload/iblock/9c1/site2.fd968aa3e6db262dda98d05d1cfd7f0d[1].jpg', data-href='/nashi-klienty/?client=491')
									div
										span
											img(src='/upload/iblock/52a/kmv.png', data-href='/nashi-klienty/?client=485')
									div
										span
											img(src='/upload/iblock/0e2/gagarin.jpg', data-href='/nashi-klienty/?client=494')
							.rnb
							.clear
							#pager2
					//
						<div class="title">Полезные документы</div>
						<ul>
						<ul>
						</ul>
						</ul>
						<div class="cloud">
						<noindex>
						<div class="search-tags-cloud"  style='width:100%;'><a href="/search/index.php?tags=%D0%B7%D0%B5%D0%BC%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5+%D0%BF%D1%80%D0%B0%D0%B2%D0%BE" class="c8"rel="nofollow">земельное право</a> <a href="/search/index.php?tags=%D0%97%D0%B0%D1%89%D0%B8%D1%82%D0%B0+%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D0%BE%D0%B2" class="c6"rel="nofollow">Защита интересов</a> <a href="/search/index.php?tags=%D1%80%D0%B0%D0%B7%D1%80%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D1%8F" class="c5"rel="nofollow">разрешения</a> <a href="/search/index.php?tags=%D0%98%D0%BD%D1%82%D0%B5%D0%BB%D0%BB%D0%B5%D0%BA%D1%82%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F" class="c2"rel="nofollow">Интеллектуальная</a> <a href="/search/index.php?tags=%D1%81%D0%B5%D1%80%D1%82%D0%B8%D1%84%D0%B8%D0%BA%D0%B0%D1%86%D0%B8%D1%8F" class="c4"rel="nofollow">сертификация</a> <a href="/search/index.php?tags=%D0%9A%D0%BE%D1%80%D0%BF%D0%BE%D1%80%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%B5+%D0%BF%D1%80%D0%B0%D0%B2%D0%BE%D0%BE%D1%82%D0%BD%D0%BE%D1%88%D0%B5%D0%BD%D0%B8%D1%8F" class="c2"rel="nofollow">Корпоративные правоотношения</a> <a href="/search/index.php?tags=%D0%9B%D0%B8%D1%86%D0%B5%D0%BD%D0%B7%D0%B8%D1%8F" class="c4"rel="nofollow">Лицензия</a> <a href="/search/index.php?tags=%D0%9C%D0%B8%D0%B3%D1%80%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%BE%D0%B5" class="c4"rel="nofollow">Миграционное</a> <a href="/search/index.php?tags=%D0%9D%D0%B5%D0%B4%D0%B2%D0%B8%D0%B6%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D1%8C" class="c8"rel="nofollow">Недвижимость</a> </div>
						</noindex>
						</div>
				.main-container
					font(color='#ff0000', size='5') - 
					b(style='font-size: large; color: rgb(0, 84, 165);') ПРОЕКТ «#ProBono»
					font(size='4')  
					div
						font(size='4')
							br
						img(src='/upload/medialibrary/3c5/probono-news.jpg', title='probono-news.jpg', border='0', alt='probono-news.jpg', width='735', height='403', align='middle')
						br
						br
						span(style='color: rgb(255, 0, 0); font-size: x-large;') - 
						font(size='4')
							b
								font(color='#0054a5') КОНЦЕПЦИЯ ПРОЕКТА
						br
						div(style='text-align: justify;')
							| Проект "#Probono" обеспечивает возможность гражданам Украины получить юридическую помощь бесплатно или за минимальное вознаграждение.
						div(style='text-align: justify;')
							br
						div
							div(style='text-align: justify;')
								| Под юридической помощью разумеется юридическая консультация, помощь в подготовке процессуальных и других правовых документов, представительство интересов в судах, с целью защиты прав и свобод человека, их восстановления в случае нарушения.
							div(style='text-align: justify;')
								br
						div
							div(style='text-align: justify;')
								| Проект «#ProBono» принадлежит юридической компании «Юстикон», является внутрифирменным проектом. К проекту могут быть привлечены исключительно адвокаты или юристы – сотрудники компании «Юстикон», и лица, подавшие заявку на участие в проекте.
							div(style='text-align: justify;')
								br
						div
							div(style='text-align: justify;')
								| В проект «#ProBono» не входит другая деятельность, не связанная с непосредственным применением навыков адвокатов компании.
							div(style='text-align: justify;')
								br
							span(style='color: rgb(255, 0, 0); font-size: x-large;') - 
							font(size='4')
								b
									font(color='#0054a5') УСЛОВИЯ ПРОЕКТА
							br
							div(style='text-align: justify;')
								font(color='#0054a5')
									| 1.
									b  
								| Для участия в проекте необходимо подать заявку, предоставить копии документов, связанных с делом. Заявка должна быть заполнена от руки и подписанная заявителем с указанием даты и электронной почты.
							div(style='text-align: justify;')
								font(color='#0054a5') 2. 
								| Прием заявок осуществляется исключительно по почте, через службы доставки или по электронной почте.
							div(style='text-align: justify;')
								font(color='#0054a5') 3. 
								| Заявитель является ответственным лицом за достоверность поданной информации в заявке и прилагающих документах.
							div(style='text-align: justify;')
								font(color='#0054a5') 4. 
								| В течение 10 дней со дня получения все заявки рассматриваются и оцениваются компанией.
							div(style='text-align: justify;')
								font(color='#0054a5') 5. 
								| Компания не уточняет причины недопущения заявки к проекту.
							div(style='text-align: justify;')
								font(color='#0054a5') 6. 
								| В случае если один заявитель направил более, чем 1 заявку, компания рассматривает все заявки с момента их получения.
							font(color='#0054a5') 7. 
							| В случае если один заявитель подал более, чем 1 заявку по одному вопросу, компания оценивает и допускает к проекту последнюю по дате получения заявку. 
							br
							div(style='text-align: justify;')
								font(color='#0054a5') 8.
								|  Заявителю предоставляется право подавать заявки на участие в проекте «#ProBono» неограниченное количество.
							div
								font(color='#0054a5')
									font(color='#0054a5') 9. 
								| Компания гарантирует сохранение конфиденциальности данных о заявителе и информации о судебных делах.
							div(style='text-align: justify;')
								| 10. При рассмотрении заявок компания оставляет право за собой осуществлять проверку изложенных обстоятельств.
							div
								font(color='#0054a5')
									font(color='#0054a5') 11. 
								| Компания гарантирует отсутствие привилегий или ограничений к лицам по признакам расы, цвета кожи, политических, религиозных или других убеждений, пола, социального происхождения, по языковым или другим признакам.
							div
								font(color='#0054a5')
									font(color='#0054a5') 12.
								| Компания не несет ответственность за заявки, что по независимым от компании причинам не были доставлены почтой или службой доставки.
							font(color='#0054a5') 13.
							|  После рассмотрения заявки, компания принимает решение о допуске заявки к проекту и закрепляет за делом адвоката/юриста компании 
							b «ЮСТИКОН».
							br
							div
								font(color='#0054a5') 14.
								|  Компания оставляет за собой право не уточнять причины замены адвоката/юриста.
							div
								font(color='#0054a5')
									font(color='#0054a5') 15.
								| Компания сообщает заявителю о результате рассмотрения каждой заявки по электронной почте.
							div
								font(color='#0054a5')
									font(color='#0054a5') 16.
								| Адвокаты/юристы проекта «#ProBono» ведут переговоры по заявке только с заявителем или представителем от имени заявителя.
							div(style='text-align: justify;')
								font(color='#0054a5')
									font(color='#0054a5') 17.
								| Заявка без указания местожительства, электронной почты, не подписанная автором признается анонимной и рассмотрению не подлежит.
							br
							span(style='color: rgb(255, 0, 0); font-size: x-large;') - 
							font(size='4')
								font(color='#0054a5')
									b КТО ИМЕЕТ ПРАВО ПОДАТЬ ЗАЯВКУ?
							br
							b Подать заявку на участие в проекте «#ProBono» имеют право:
							br
							font(color='#0054a5') 1. 
							| Физические лица, достигшие совершеннолетие. 
							br
							font(color='#0054a5') 2. 
							| Юридические лица. 
							br
							br
							b От заявителя требуется:
							br
							ul
								li(style='text-align: justify;') жалоба, что относиться к одной из практик, допущенных к проекту «#ProBono»;
								li(style='text-align: justify;')
									| лично от руки изложить суть жалобы, заслуживающей внимание и по мнению заявителя предполагающая успешный исход, на русском или украинском языках.
								li(style='text-align: justify;') жалоба актуальная по срокам рассмотрения. 
							br
							table(border='1', cellpadding='1', cellspacing='1', align='center', width='700', height='200', style='border-collapse: collapse;')
								tbody
									tr
										td(colspan='3')
											div(style='text-align: center;')
												b
													font(color='#0054a5')
														br
											div(style='text-align: center;')
												b
													font(color='#0054a5', size='4') СФЕРА ПРИМЕНЕНИЯ ПРОЕКТА «Pro Bono» 
											div(style='text-align: center;')
												b
													font(color='#0054a5')
														br
									tr
										td
											div(style='text-align: left;')
												b Практики, что допускаются к проекту:
											div(style='text-align: left;')
												b    
												| Хозяйственные споры
											div(style='text-align: center;')
												span(style='text-align: left;')
													div(style='text-align: left;')    Административные споры
												span(style='text-align: left;')
													div(style='text-align: left;')    Гражданские споры
												span(style='text-align: left;')
													div(style='text-align: left;')    Трудовые споры
												span(style='text-align: left;')
													div(style='text-align: left;')    Семейные споры
												span(style='text-align: left;')
													div(style='text-align: left;')    Наследственные споры
												span(style='text-align: left;')
													div(style='text-align: left;')    Земельные споры
												span(style='text-align: left;')
													div(style='text-align: left;')    Споры в сфере недвижимости
												span(style='text-align: left;')
													div(style='text-align: left;')    Налоговые споры
												span(style='text-align: left;')
													div(style='text-align: left;')    Возврат долгов
												ul  
										td
											div(style='text-align: left;')
												b Практики, что НЕ допускаются к проекту:
											div(style='text-align: justify;')
												span(style='text-align: left;')    Корпоративное право
												br
												span(style='text-align: left;')    Антимонопольное и конкурентное право
												br
												span(style='text-align: left;')    Миграционное право
												br
												span(style='text-align: left;')    Недвижимость, кроме споров
												br
												span(style='text-align: left;')    Строительство, кроме споров
												br
												span(style='text-align: left;')    Земельное право, кроме споров
												ul  
											div(style='text-align: center;')
												br
											div(style='text-align: center;')
												br
											div(style='text-align: center;')
												br
											div(style='text-align: center;')
												br
							br
							br
							div(style='text-align: justify;')
								| Юридическая компания 
								b «ЮСТИКОН»
								|  оставляет за собой право принять в проект «#ProBono» жалобу, что не допускается к проекту, в исключительных случаях, в том числе по инвалидности, в связи с чрезвычайным материальным затруднением или риском физическому здоровью человека.
							div(style='text-align: justify;')
								br
							div(style='text-align: justify;')
								span(style='color: rgb(255, 0, 0); font-size: x-large;') -
								span(style='color: rgb(255, 0, 0); font-size: x-large;')  
								font(color='#0054a5', size='4')
									b КАК ПОДАТЬ ЗАЯВКУ?
							div(style='text-align: justify;')
								b
									| Компания «ЮСТИКОН» принимает заявки на участие в проекте на бумажном носителе или в электронной версии. Пожалуйста, выполните следующие действия:
							div(style='text-align: justify;')
								font(color='#0054a5') 1.
								|  Распечатайте бланк заявки на участие в проекте #ProBono. *гиперссылка для скачивания*
							div(style='text-align: justify;')
								font(color='#0054a5') 2.
								|  Заполните бланк заявки в полном объеме, подпишите, поставьте дату на последней странице.
							div(style='text-align: justify;')
								font(color='#0054a5') 3.
								|  Прикрепите к бланку заявки копии документов, относящиеся к жалобе.
							div(style='text-align: justify;')
								font(color='#0054a5') 4.
								|  Отправьте заполненную и подписанную заявку, а также все документы, или по адресу:
							div(style='text-align: justify;') ООО «Юстикон»
							div(style='text-align: justify;') ул. Старовокзальная, 18
							div(style='text-align: justify;') г. Киев
							div(style='text-align: justify;') 01032 
							div(style='text-align: justify;')
								font(color='#0054a5') 5.
								|  С 17 июня в проект #ProBono допускаются заявки на электронном носителе. Отправьте отсканированные заявку и документы на электронную почту проекта probono@justicon.ua.
							div(style='text-align: justify;')
								br
							div(style='text-align: justify;')
								b Обращаем внимание на следующее:
							div(style='text-align: justify;')
								| После получения заявки, компании необходимо 10 (десять) рабочих дней, чтобы рассмотреть и оценить заявку с документацией. В это время запросы / обращения от Заявителей относительно результата рассмотрения не принимаются.
							div(style='text-align: justify;')
								br
							div(style='text-align: justify;')
								| В случае если полученная документация от Заявителя не соответствует требованиям проекта, заявка не рассматривается.
							div(style='text-align: justify;')
								br
							div(style='text-align: justify;')
								| В связи с большим количеством заявок, получаемых ежедневно, компания не подтверждает получение заявки и документов по телефону или по электронной почте.
			.clear


		include ./partials/footer.jade
		include ./partials/modals.jade
	include ./partials/scripts.jade
