- var page = 'article'

doctype html
html(lang='en')
	head
		title Justicon
		include ./partials/head.jade
	body
		include ./partials/navigation.jade

		section.page-label
			.container
				h2 Пресс центр
		section.categories-tabs
			.container
				.tabs-holder
					.tab.active
						span Новости права
					.tab
						span Мнение эксперта
					.tab
						span Публикации
		section.full-article
			.container.article-header
				h2 Рада обязала раскрывать конечных бенефициариев и открыла доступ к реестру прав
				.tags-cloud
					a(href="#").tag #Новости права
					a(href="#").tag #Новости права
					a(href="#").tag #Новости права
					a(href="#").tag #Новости права
			.container.article-content
				img(src="https://unsplash.it/580/340/?random", alt="article-image")
				p
					i Создан механизм выявления физического лица - конечного выгодоприобретателя, а также установлен свободный доступ к Государственному реестру вещных прав на недвижимое имущество.
				p 14 октября, Верховная Рада приняла Закон «О внесении изменений в некоторые законодательные акты Украины относительно определения конечных выгодоприобретателей юридических лиц и публичных деятелей.
				p Законом установлено, что выгодоприобретатель юридического лица это физическое лицо, которое независимо от формального владения имеет возможность осуществлять решающее влияние на управление или хозяйственную деятельность юридического лица непосредственно или через других лиц.
				p При этом не считается физическим лицом - конечным выгодоприобретателем лицо, имеющее формальное право на 25 или более процентов уставного капитала или прав голоса в юридическом лице.
				p Но являющееся агентом, номинальным держателем (номинальным собственником) или являющееся только посредником относительно такого права.
				p Хозяйственный кодекс дополнен статьей, которая обязывает все предприятия (кроме государственных и коммунальных) устанавливать своего конечного бенефициария, регулярно обновлять
				p Хранить информацию о нем и предоставлять ее государственному регистратору.
				p Установлена ответственность за непредставление руководителем юридического лица или уполномоченным лицом информации о конечном бенефициарии или представление заведомо ложной информации, в виде штрафа в размере от 1 тыс. до 2 тысяч необлагаемых минимумов доходов граждан или общественными работами на срок от 160 до 240 часов.
				p Кроме того, законом установлено, что информация о зарегистрированных правах и их обременениях из Реестра прав, является открытой и общедоступной. Все желающие могут получить информацию исключительно по объекту недвижимого имущества в электронной форме через официальный сайт центрального органа исполнительной власти, реализующего государственную политику в сфере государственной регистрации прав.
				p Для получения информации о недвижимости в бумажной форме необходимо подать заявление в орган государственной регистрации прав или нотариусу.
				p Соответственно уполномоченные госорганы и их должностные лица, а также нотариусы получат непосредственный доступ в Реестр с помощью цифровой подписи. Они смогут осуществлять поиск информации, как по объекту недвижимости, так и по субъекту права.
				p Полученная в электронной или бумажной форме информация о зарегистрированных правах и их обременениях является официальной.

		section.top-news
			.container.top-news-holder
				.parnters-container.owl-carousel
					mixin new-item (name, img, href)
						.item.new-item
							img(src= img)
							span.label= name
							a.btn(href= href) Узнать больше
					+new-item(
						'Хочу оформить частное предприятие',
						'https://unsplash.it/325/300?image=1059',
						'/nashi-klienty/?client=472'
					)
					+new-item(
						'Что необходимо учитывать при оформлении документов',
						'https://unsplash.it/325/300?image=1048',
						'/nashi-klienty/?client=471'
					)
					+new-item(
						'Лицензирование и сертификация',
						'https://unsplash.it/325/300?image=998',
						'/nashi-klienty/?client=470'
					)
					+new-item(
						'Хочу оформить частное предприятие',
						'https://unsplash.it/325/300?image=983',
						'/nashi-klienty/?client=469'
					)
					+new-item(
						'Хочу оформить частное предприятие',
						'https://unsplash.it/325/300?image=972',
						'/nashi-klienty/?client=487'
					)
					+new-item(
						'Хочу оформить частное предприятие',
						'https://unsplash.it/325/300?image=885',
						'/nashi-klienty/?client=474'
					)
					+new-item(
						'Хочу оформить частное предприятие',
						'https://unsplash.it/325/300?image=679',
						'/nashi-klienty/?client=488'
					)



		include ./partials/footer.jade
		include ./partials/modals.jade
	include ./partials/scripts.jade
