doctype html
html(lang='en')
	head
		title Justicon
		include ./partials/head.jade
	body
		include ./partials/navigation.jade

		.service-introduction
			.container
				.service-header
					h1 Представительство в исполнительном производстве
					p
						| Поможем выполнить решение суда. Осуществим все необходимые действия для достижения результата.
				ul.service-price
					li
						b 30
						|  р. дней
					li
						b от 1000
						|  грн.
					li.buttons-holder
						a.zaprosconl(href='#') Заказать консультацию
						a.zaprosl(href='#') Заказать услугу

		.container
			.breadcrumb.hidden
				div(itemtype='http://data-vocabulary.org/Breadcrumb', itemscope='')
					a(itemprop='url', href='/', title='Главная')
						span(itemprop='title') Главная
				div  » 
				div(itemtype='http://data-vocabulary.org/Breadcrumb', itemscope='')
					a(itemprop='url', href='/uslugi/', title='Услуги')
						span(itemprop='title') Услуги
				div  » 
				div(itemtype='http://data-vocabulary.org/Breadcrumb', itemscope='')
					a(itemprop='url', href='/uslugi/sud/', title='Судебная практика')
						span(itemprop='title') Судебная практика
				div  » 
				div(itemtype='http://data-vocabulary.org/Breadcrumb', itemscope='')
					a(itemprop='url', href='/uslugi/sud/ispoln/', title='Представительство в исполнительном производстве')
						span(itemprop='title') Представительство в исполнительном производстве
				div  » 
				div(itemtype='http://data-vocabulary.org/Breadcrumb', itemscope='')
					span(itemprop='title') Представительство в исполнительном производстве

			ul.service-tab-buttons
				li#tbd1.active
					a(href='#') Все
				li#tbd7
					a(href='#') Подробно
				li#tbd3
					a(href='#') Цены
				li#tbd4
					a(href='#') Алгоритм
			.main-container.service-page-content
				.inner
					.tabd.tbd1.tabact
						.prevt
							div(align='left')
								font(color='#0054A5', size='4')
									b
										font(color='#FF0000') ? 
										| ЗАДАЧА
							p(align='justify')  Вы получили решение суда, но не знаете, что делать дальше?! 
							p(align='justify')  У Вас есть необходимость выполнить решение иностранного суда?! 
							p(align='justify')
								| Пришло постановление об открытии исполнительного производства в отношении Вас как должника?!
							p(align='justify')  Исполнительное производство «стоит на месте» и нет результата?! 
							p(align='left')
								font(color='#0054A5', size='4')
									b
										font(color='#FF0000')
											br
							p(align='left')
								font(color='#0054A5', size='4')
									b
										font(color='#FF0000') ! 
										| ОПТИМАЛЬНОЕ РЕШЕНИЕ
							p(align='justify')
								b
									| В такой ситуации, лучшим решением будет привлечение опытных специалистов для представительства Ваших интересов в исполнительном производстве!
							p(align='justify')
								| Участие в исполнительном производстве - финишная прямая получения нужного Вам результата в процессе защиты Ваших интересов и прав!
							p(align='justify')
								b
									| Заказав у нас услугу представительства интересов в исполнительном производстве, Вы получаете ряд преимуществ:
							p(align='justify')  
							div(align='justify')
								ul
									li Представительство интересов осуществляется опытными специалистами 
									li Вы не тратите свое время на постоянное общение с исполнителями 
									li Возможность повлиять на ход исполнения решения 
									li Высокие шансы на получение нужного Вам результата 
								|  Если Вы получили решение суда, следующим этапом будет его выполнение. Вы можете - либо заниматься этим самостоятельно, либо заказать сопровождение этого процесса у специалистов с опытом работы и пониманием законодательства. Мы не отговариваем Вас от первого варианта, но
							p(align='justify')
								b Самостоятельное участие в исполнительном производстве это: 
							p(align='justify')
								font(color='#0054A5') –
								i  "Риск утери исполнительного дела " 
							p(align='justify')
								i
									font(color='#0054A5') –
									|  "Возможность затягивания исполнительного производства "
							p(align='justify')
								i
									| – "Вариант не выполнения судебного решения"
							p(align='justify')
								i
									font(color='#0054A5') –
									|  "Риск ошибки в процедуре выполнения судебного решения"
							p(align='left')
								font(color='#0054A5', size='4')
									b
										font(color='#FF0000')
											br
							p(align='left')
								font(color='#0054A5', size='4')
									b
										font(color='#FF0000') + 
										| РАБОТЫ С НАМИ
							p(align='justify')
								font(size='4')
									b Закажите у нас, потому что: 
							p(align='justify')  
							div(align='justify')
								ul
									li Наша компания предоставляет услуги в данной сфере уже более 7-ти лет 
									li
										| Наши юристы в дополнение к юридическому образованию изучили практическую сторону вопроса
									li
										| При исполнении решений судов не последнюю роль играет практика общения с сотрудниками исполнительной службы, и она у нас есть
									li Мы предоставим первичную консультацию бесплатно 
									li И наконец-то лучшая характеристика нашей работы - это наши клиенты 
								font(color='#0054A5', size='4')
									b
										| Предоставьте общение с исполнительной службой нашим специалистам, и мы гарантированно достигнем результата!
					.tabd.tbd7
						.tabpl Подробно
						div(align='justify')
							| Исполнительное производство как завершающая стадия судебного производства и принудительное выполнение решений других органов (должностных лиц) – это совокупность действий органов и должностных лиц, определенных в Законе Украины «Об исполнительном производстве», направленных на принудительное выполнение решений судов и других органов.
						p(align='justify')
							| Получение положительного для Вас решения суда, не всегда означает автоматическое достижение поставленной судебным разбирательством цели. Судебное решение не исполняется само по себе, а получение исполнительного документа, как показывает практика, только начало пути к исполнению судебного решения. Даже простой контроль исполнения занимает много времени, нервов и сил. Мы готовы сберечь Ваше время и получить тот результат, ради которого Вы обращались в суд.
						p(align='justify')
							| Наши специалисты грамотно составят заявление об открытии исполнительного производства, проведут переговоры с государственным исполнителем, который будет вести исполнительное производство, а также будут контролировать ход исполнения исполнительного документа. Работа наших специалистов не позволит «потеряться» Вашему делу среди множества исполнительных производств находящихся у исполнителя в производстве.
						p(align='left')
							font(color='#0054A5', size='4')
								b
									font(color='#FF0000')
										br
						p(align='left')
							font(color='#0054A5', size='4')
								b
									font(color='#FF0000') !!! 
									| ВАЖНО
						p(align='justify')  
						div(align='justify')
							ul
								li
									| Наличие положительного судебного решения не гарантирует его выполнения. Успех в получении нужного Вам результата зависит от множества факторов, основным из которых является постоянный контроль и общение с исполнителем, а также участие при проведении исполнительных действий.
								li Исполнительный документ имеет ограниченный срок для предъявления. 
							div(align='left')
								font(color='#0054A5', size='4')
									b
										font(color='#FF0000')
											br
											|          і
										| ПРИМЕЧАНИЕ
						p(align='justify')  
						div(align='justify')
							ul
								li
									| Наша компания не только представляет интересы кредитора, но также может участвовать в исполнительном производстве на стороне должника.
								li
									| Для начала нашего сотрудничества Вам необходимо предоставить нам все имеющиеся у Вас документы и информацию, касающиеся исполнительного производства.
							div(align='left')
								font(color='#0054A5', size='4')
									b
										font(color='#FF0000')
											br
											|          §
										| ЗАКОНОДАТЕЛЬСТВО
						p(align='justify')  
						div(align='justify')
							ul
								li
									b Закон Украины «Об исполнительном производстве» 
								li
									b
										| Приказ Министерства юстиции Украины от 15.12.1999 г. № 74/5 «Об утверждении инструкции о порядке осуществления исполнительных действий»
								li
									b
										| Приказ Министерства юстиции Украины от 02.04.2012 г. № 512/5 «Об утверждении инструкции по организации принудительного исполнения решений»
							font(size='4')
								b
									| Юридическая компания «ЮСТИКОН», имея многолетний опыт и обширную практику, предлагает Вам полный комплекс юридических услуг по сопровождению исполнения решений судов в Украине.
						p(align='left')
							font(color='#0054A5', size='4')
								b
									font(color='#FF0000')
										br
						p(align='left')
							font(color='#0054A5', size='4')
								b
									font(color='#FF0000') Ξ 
									| ПЕРЕЧЕНЬ БАЗОВЫХ УСЛУГ
						p
						p(align='justify')  
						div(align='justify')
							ul
								li анализ материалов и подготовка юридического заключения; 
								li
									| составление заявления и подготовка документов для обращения в исполнительную службу;
								li
									| участие в исполнительных действиях (наложение ареста (опись), выезд на место нахождения должника, розыск должника, реализация имущества, выселение, принудительное вхождение);
								li составление документов (жалоба, заявление, возражение, отвод и др.). 
					.tabd.tbd3
						.tabpl Цены
						div(style='margin-top: 25px')
						.table-holder
							table
								tbody
									tr
										td.price-title Представительство в исполнительном производстве
										td.price-term
											pre.
										td.price-value
											pre.
												\nот 1000 грн.                      
						#pricedesc
						.mt10
							span.bl-button.zaprosl Заказать услугу
							a.view-all-price-list(href='/prays-list/')
								| Посмотреть весь прайс-лист
								span.arrow-down
					.tabd.tbd4
						.tabpl Алгоритм
						.table-holder
							table.table.docs
								tbody
									tr
										th
											b
												span(style='color: rgb(0, 84, 165);') ЭТАП
											span(style='color: rgb(0, 84, 165);')  	
										th
											span(style='color: rgb(0, 84, 165);')  		
											b
												span(style='color: rgb(0, 84, 165);') ПЕРЕЧЕНЬ МЕРОПРИЯТИЙ
											span(style='color: rgb(0, 84, 165);')  	
										th
											span(style='color: rgb(0, 84, 165);')  		
											b
												span(style='color: rgb(0, 84, 165);') СРОКИ
									tr
										td(style='text-align: left;')
											b
												p(style='text-align: left;')
													span(style='color: rgb(0, 84, 165);')
														span(style='color: rgb(255, 0, 0);') 1.
													b
														font(color='#0054a5') Анализ документов и подготовка заявления
										td(style='text-align: left;')
											ul
												li
													| анализ исполнительного производства (в случае его наличия) 
													br
												li
													| подготовка заявления об открытии исполнительного производства 
													br
													br
													br
										td(align='center', style='text-align: left;')
											p(style='text-align: center;') от 1 р.д.
									tr
										td(style='text-align: left;')
											b
												p(style='text-align: left;')
													span(style='color: rgb(0, 84, 165);')
														span(style='color: rgb(255, 0, 0);') 2.
													b
														font(color='#0054a5')
															| Сопровождение исполнительного производства  
															br
										td(style='text-align: left;')
											ul
												li
													| контроль действий исполнителя 
													br
												li
													| подготовка необходимых документов (заявлений, ходатайств, жалоб…) 
													br
													br
										td(align='center', style='text-align: left;')
											p(style='text-align: center;') от 1 р.д.
									tr
										td(colspan='1')
											b
												span(style='color: rgb(0, 84, 165);')
													span(style='color: rgb(255, 0, 0);') 3.
												b
													font(color='#0054a5')
														| Участие исполнительных действиях 
														br
										td(colspan='1')
											ul
												li непосредственное участие в ходе проведения исполнительных действий 
										td(align='center', colspan='1') 1 р.д.
					.bottom
						script(type='text/javascript').
							(function() {
							if (window.pluso)if (typeof window.pluso.start == "function") return;
							if (window.ifpluso==undefined) { window.ifpluso = 1;
							var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
							s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
							s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
							var h=d[g]('body')[0];
							h.appendChild(s);
							}})();
						.pluso(data-background='transparent', data-options='medium,square,line,horizontal,nocounter,theme=06', data-services='facebook,twitter,google,vkontakte,print')
						.clear
					// 'start_frame_cache_KeBBtj'
					#disqus_thread
					script(type='text/javascript').
						/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
						var disqus_shortname = 'justicon'; // Required - Replace example with your forum shortname
						/* * * DON'T EDIT BELOW THIS LINE * * */
						(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
					noscript
						| Please enable JavaScript to view the 
						a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
					a.dsq-brlink(href='http://disqus.com')
						| comments powered by 
						span.logo-disqus Disqus
					// 'end_frame_cache_KeBBtj'
					.clear



		include ./partials/footer.jade
		include ./partials/modals.jade
	include ./partials/scripts.jade
