doctype html
html(lang='en')
	head
		title Justicon
		include ./partials/head.jade
	body
		include ./partials/navigation.jade

		.container
			.wrap
				.bc
					div(itemtype='http://data-vocabulary.org/Breadcrumb', itemscope='')
						span(itemprop='title') Главная
				.tophr
				.main.wide-l
					h1#page-tit Наши клиенты
					.main-container
						.clients-list
							#cl-in
								#bx_1373509569_472.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/4b3/HyundaiLogo.png', alt='ХЮНДАЙ МОТОР КОМПАНИ', title='ХЮНДАЙ МОТОР КОМПАНИ')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ХЮНДАЙ МОТОР КОМПАНИ
									.cl-prev
										b Hyundai Motor Company
										|  - южнокорейская компания, специализацией которой является выпуск легковых автомобилей
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/4b3/HyundaiLogo.png', alt='ХЮНДАЙ МОТОР КОМПАНИ', title='ХЮНДАЙ МОТОР КОМПАНИ')
											a.cl-name ХЮНДАЙ МОТОР КОМПАНИ
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													b «Хюндай Мотор Компани» (Hyundai Motor Company)
													|  - южнокорейская компания, специализацией которой является выпуск легковых автомобилей.
												div(style='text-align: justify;')
													| Hyundai в вольном переводе означает «новое время», «современность». Создателям Hyundai Motor Company понадобилось более 30-ти лет, чтобы покорить это «новое время» и оказаться в авангарде всемирной автомобильной промышленности.
												div(style='text-align: justify;')
													| Это был долгий процесс становления, в котором принимали участие тысячи специалистов компании. И только благодаря их неустанному трудолюбию, профессионализму, настойчивости и постоянному обучению Hyundai достигла заслуженного успеха среди именитых грандов мирового автомобилестроения.
											.cltab.cltd2
												img(src='http://justicon.ua/upload/medialibrary/490/ХЮНДАЙ МОТОР КОМПАНИ.jpg', title='ХЮНДАЙ МОТОР КОМПАНИ.jpg', border='0', alt='ХЮНДАЙ МОТОР КОМПАНИ.jpg', width='733', height='1024', align='middle')
											a.close
								#bx_1373509569_471.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/22a/KIA.png', alt='Корпорация KIA Motors', title='Корпорация KIA Motors')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl Корпорация KIA Motors
									.cl-prev
										div(style='text-align: justify;')
											b Kia Motors Corporation
											|  — корейская автомобилестроительная компания
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/22a/KIA.png', alt='Корпорация KIA Motors', title='Корпорация KIA Motors')
											a.cl-name Корпорация KIA Motors
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													b Kia Motors Corporation
													|  — корейская автомобилестроительная компания, второй автопроизводитель в Южной Корее и седьмой в мире.
												div(style='text-align: justify;')
													b Корпорация KIA Motors
													|  - производитель качественных автомобилей для тех, кто молод сердцем - основана в 1944 году и является старейшим автомобильным предприятием Кореи.
												div(style='text-align: justify;')
													| Ежегодно на тринадцати заводах компании, расположенных в восьми странах мира, производится около 1,5 млн. автомобилей. Дилерские автосалоны KIA Motors работают в 172 странах мира. Общее число сотрудников корпорации превышает 40 000 человек, а ежегодный доход составляет более $ 14,5 млрд.
											.cltab.cltd2
											a.close
								#bx_1373509569_470.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/995/Luxoft_logo.png', alt='Luxoft ', title='Luxoft ')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl Luxoft 
									.cl-prev
										b Luxoft
										|  - признанный лидер в области разработки ПО на мировом рынке
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/995/Luxoft_logo.png', alt='Luxoft ', title='Luxoft ')
											a.cl-name Luxoft 
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div
													div(style='text-align: justify;')
														b Luxoft
														|  - признанный лидер в области разработки ПО на мировом рынке
													div(style='text-align: justify;')
														| Многолетний успешный опыт осуществления проектов для крупнейших международных компаний, глубокое знание лучших мировых практик и методологий разработки ПО, отраслевая экспертиза и мировые стандарты качества.
											.cltab.cltd2
											a.close
								#bx_1373509569_469.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/219/EPAM_logo.png', alt='EPAM Systems', title='EPAM Systems')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl EPAM Systems
									.cl-prev
										b EPAM Systems
										|  — крупнейшая ИТ-компания
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/219/EPAM_logo.png', alt='EPAM Systems', title='EPAM Systems')
											a.cl-name EPAM Systems
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													| Основанная в 1993 году, сегодня ЕРАМ Systems входит в число крупнейших ИТ-компаний мира.
												div(style='text-align: justify;')
													| Реализовав тысячи сложных и масштабных решений по всему миру, EPAM Systems неизменно остается признанным лидером в таких областях, как:
												div(style='text-align: justify;')
													ul
														li
															| Разработка, тестирование, сопровождение и поддержка заказного программного обеспечения и бизнес-приложений
														li Интеграция приложений на базе продуктов SAP, Oracle, IBM, Microsoft 
														li
															| Создание выделенных центров разработки (центров компетенции), центров тестирования и контроля качества программного обеспечения
														li ИТ-консалтинг с учетом отраслевой специфики бизнеса
											.cltab.cltd2
												br
											a.close
								#bx_1373509569_487.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/543/yandex2.png', alt='ЯНДЕКС', title='ЯНДЕКС')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ЯНДЕКС
									.cl-prev
										b ЯНДЕКС
										|  – четвёртая среди поисковых систем мира по количеству обработанных поисковых запросов
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/543/yandex2.png', alt='ЯНДЕКС', title='ЯНДЕКС')
											a.cl-name ЯНДЕКС
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													| Поисковая система Yandex.ru была официально анонсирована 23 сентября 1997 года, и первое время развивалась в рамках компании CompTek International. Как отдельная компания «Яндекс» образовался в 2000 году. В мае 2011 года Яндекс провёл первичное размещение акций, заработав на этом больше, чем какая-либо из Интернет-компаний со времён IPO поисковика Google в 2004 году.
											.cltab.cltd2
											a.close
								#bx_1373509569_474.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/474/Metinvest_Logo_Ukr2.png', alt='МЕТИНВЕСТ', title='МЕТИНВЕСТ')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl МЕТИНВЕСТ
									.cl-prev
										b МЕТИНВЕСТ
										|  – крупнейший в Украине производителей железорудного сырья и стали.
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/474/Metinvest_Logo_Ukr2.png', alt='МЕТИНВЕСТ', title='МЕТИНВЕСТ')
											a.cl-name МЕТИНВЕСТ
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													b МЕТИНВЕСТ
													|  является крупнейшей компанией Украины по версии Forbes и занимает 4-е место в рейтинге крупнейших компаний Центральной и Восточной Европы Deloitte TOP-500 по итогам 2012 года.
												div(style='text-align: justify;')
													| Компания входит в десятку крупнейших производителей ЖРС и толстолистового проката, по итогам 2013 года занимает 25-е место в ряду крупнейших металлургических компаний мира по версии Всемирной ассоциации производителей стали (World Steel Association).
											.cltab.cltd2
											a.close
								#bx_1373509569_488.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/797/carlsberg_crown_logo_on_green.jpg', alt='CARLSBERG', title='CARLSBERG')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl CARLSBERG
									.cl-prev
										b Carlsberg
										|  – датская пивоваренная компания, одна из крупнейших в мире
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/797/carlsberg_crown_logo_on_green.jpg', alt='CARLSBERG', title='CARLSBERG')
											a.cl-name CARLSBERG
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													b «Carlsberg Group» 
													| - датская пивоваренная компания, основанная 1847 местным промышленником Якобом Кристианом Якобсеном и названа в честь его сына Карла. На сегодня - мощная международная пивоваренная группа, которая владеет производственными мощностями в более чем 20 странах мира и занимает 4-е место в рейтинге мировых пивоваренных корпораций по уровню доходов (после Anheuser-Busch InBev, SABMiller и Heineken International).
											.cltab.cltd2
											a.close
								#bx_1373509569_486.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/f97/Logo_OTIS300dpi.png', alt='OTIS', title='OTIS')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl OTIS
									.cl-prev
										b Otis Elevator Company
										|  – одна из старейших и крупнейших компаний-производителей подъемного оборудования
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/f97/Logo_OTIS300dpi.png', alt='OTIS', title='OTIS')
											a.cl-name OTIS
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												p(style='text-align: justify;')
													b Otis Elevator Company 
													| – одна из старейших и крупнейших компаний-производителей подъемного оборудования (эскалаторы, лифты и движущиеся дорожки). Основана в 1853 году в Нью-ЙоркеЭлишей Отисом, впервые разработавшим принцип безопасного лифта со специальным механизмом, блокирующим кабину при обрыве несущего каната.
												p(style='text-align: justify;')
													| Подъемное оборудование Otis установлено во многих высотных зданиях, включая Эйфелеву башню, Эмпайр Стейт билдинг, Башни Петронас, Си-Эн Тауэр. По состоянию на 2009 год, лифты и эскалаторы Otis являются самыми распространёнными подъёмниками в мире.
											.cltab.cltd2
											a.close
								#bx_1373509569_490.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/0fc/new_csa_logo_mar_2008.png', alt='CSA CZECH AIRLINES', title='CSA CZECH AIRLINES')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl CSA CZECH AIRLINES
									.cl-prev
										b CSA Czech Airlines
										|  – национальная авиакомпания Чешской Республики
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/0fc/new_csa_logo_mar_2008.png', alt='CSA CZECH AIRLINES', title='CSA CZECH AIRLINES')
											a.cl-name CSA CZECH AIRLINES
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													b CSA Czech Airlines
													|  (чеш. České aerolinie, a.s., англ. Czech Airlines, «Чешские авиалинии») – национальная авиакомпания Чешской Республики, базирующаяся в пражском аэропорту имени Вацлава Гавела. Компания выполняет рейсы по Европе, Ближнему Востоку и Азии. Осуществляет также чартерные рейсы и грузовые перевозки. Является членом альянса авиакомпаний SkyTeam. Программа лояльности для часто летающих пассажиров называется «OK Plus».
											.cltab.cltd2
											a.close
								#bx_1373509569_473.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/c78/Лисод.png', alt='ЛІСОД', title='ЛІСОД')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ЛІСОД
									.cl-prev
										b ЛІСОД 
										| - онкологическая клиника
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/c78/Лисод.png', alt='ЛІСОД', title='ЛІСОД')
											a.cl-name ЛІСОД
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													| В ЛІСОД на постоянной основе работают специалисты из Германии и Израиля, имеющие большой опыт диагностики и лечения в ведущих онкологических клиниках мира.
												div(style='text-align: justify;')
													| В одной команде с зарубежными врачами работают высококвалифицированные украинские специалисты, которые прошли обучение и стажировку за рубежом – в Израиле, США, Японии, Европе.
												div(style='text-align: justify;')
													| Врачи ЛІСОД имеют членство во многих Европейских и Американских медицинских онкологических обществах, что позволяет им своевременно узнавать и применять новые международные достижения в области онкологии.
											.cltab.cltd2
											a.close
								#bx_1373509569_475.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/293/Кировский завод ОЦМ.png', alt='ОАО КЗОЦМ', title='ОАО КЗОЦМ')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ОАО КЗОЦМ
									.cl-prev
										b(style='text-align: justify;') ОАО КИРОВСКИЙ ЗАВОД ПО ОБРАБОТКЕ ЦВЕТНЫХ МЕТАЛЛОВ
										|  – один из лидеров рынка металлообработки
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/293/Кировский завод ОЦМ.png', alt='ОАО КЗОЦМ', title='ОАО КЗОЦМ')
											a.cl-name ОАО КЗОЦМ
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													b ОАО КИРОВСКИЙ ЗАВОД ПО ОБРАБОТКЕ ЦВЕТНЫХ МЕТАЛЛОВ
													|  – одно из самых современных предприятий в металлообработке.
												div(style='text-align: justify;')
													| За более чем полувековую историю своего развития предприятие накопило богатейший опыт производства плоского и круглого проката из меди и медных сплавов.
												div(style='text-align: justify;')
													| Широкий ассортимент продукции – слитки, плиты, листы, ленты, полосы, аноды, профили, прутки, проволока, шины – используются в автомобилестроении, машиностроении, электротехнической, электронной промышленности, черной металлургии, энергетике и других отраслях.
											.cltab.cltd2
											a.close
								#bx_1373509569_489.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/bad/ЕВРАЗ.png', alt='ЕВРАЗ Суха Балка', title='ЕВРАЗ Суха Балка')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ЕВРАЗ Суха Балка
									.cl-prev
										b ЕВРАЗ Суха Балка
										|  – одно из ведущих предприятий отрасли в Украине, специализирующееся на добыче железной руды подземным способом
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/bad/ЕВРАЗ.png', alt='ЕВРАЗ Суха Балка', title='ЕВРАЗ Суха Балка')
											a.cl-name ЕВРАЗ Суха Балка
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													b ЕВРАЗ Суха Балка
													|  – одно из ведущих предприятий отрасли в Украине, специализирующееся на добыче железной руды подземным способом. В структуру комбината входят две шахты – «Юбилейная» и шахта им. Фрунзе. Обе располагают подземными дробильными комплексами и поверхностными дробильно-сортировочными комплексами.
												div(style='text-align: justify;')
													| В 2013 году ЕВРАЗ Суха Балка добыла свыше 3,4 млн тонн сырой руды и реализовала почти 3 млн тонн аглоруды.
												div(style='text-align: justify;')
													| Запасы минеральных ресурсов на двух шахтах могут обеспечить работу комбината на 25 лет вперед и по примерным оценкам составляют 75 млн тонн.
											.cltab.cltd2
											a.close
								#bx_1373509569_477.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/033/uralremont.png', alt='УРАЛДОМНАРЕМОНТ', title='УРАЛДОМНАРЕМОНТ')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl УРАЛДОМНАРЕМОНТ
									.cl-prev
										p
											| Крупная компания в сфере строительства, реконструкции и ремонта оборудования металлургической, нефтехимической отрасли
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/033/uralremont.png', alt='УРАЛДОМНАРЕМОНТ', title='УРАЛДОМНАРЕМОНТ')
											a.cl-name УРАЛДОМНАРЕМОНТ
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												| Богатый опыт, накопленный в течение более чем 60 – летней истории развития предприятия, профессиональное мастерство специалистов, позволяют производить ремонтные и строительные работы любой сложности в кратчайшие сроки на высоком технологическом уровне. 
												br
												br
												|  В настоящее время «Трест Уралдомнаремонт» располагает полным комплексом необходимых технических и людских ресурсов для проведения строительных и ремонтных работ на предприятиях металлургической отрасли всего постсоветского пространства.
											.cltab.cltd2
											a.close
								#bx_1373509569_479.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/b18/ukrdom.png', alt='УКРДОМНАРЕМОНТ', title='УКРДОМНАРЕМОНТ')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl УКРДОМНАРЕМОНТ
									.cl-prev
										b УКРДОМНАРЕМОНТ
										|  – инжиниринговая компания
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/b18/ukrdom.png', alt='УКРДОМНАРЕМОНТ', title='УКРДОМНАРЕМОНТ')
											a.cl-name УКРДОМНАРЕМОНТ
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													| Компания предоставляет услуги в сфере строительства, реконструкции и ремонта металлургических предприятий, предприятий энергетики, добывающей и обрабатывающей промышленности.
											.cltab.cltd2
											a.close
								#bx_1373509569_478.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/bca/КРИВБАССПЕЦПРОЕКТ.png', alt='Кривбасспецпроект', title='Кривбасспецпроект')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl Кривбасспецпроект
									.cl-prev
										div(style='text-align: justify;')
											b КРИВБАССПЕЦПРОЕКТ
											|  – проектно-строительная организация
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/bca/КРИВБАССПЕЦПРОЕКТ.png', alt='Кривбасспецпроект', title='Кривбасспецпроект')
											a.cl-name Кривбасспецпроект
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													| Предприятие в своем составе имеет подразделения, способные выполнить любого уровня сложности проектной задачи. Основными направлениями деятельности предприятия является разработка архитектурно-строительной части, отопления, водоснабжения, канализации (в том числе разработка локальных очистных сооружений), кондиционирования воздуха, теплотехнический расчет объекта, электротехническая часть проекта, разработка и расчет фундаментов и несущих конструкций зданий и сооружений.
												div(style='text-align: justify;')
													| При разработке проектных решений наши специалисты использую новейшие технологии. Предприятие имеет опыт в обследовании зданий и сооружений с разработкой технического отчета и выдачей паспорта технического состояния объекта.
											.cltab.cltd2
											a.close
								#bx_1373509569_480.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/49e/vse-logo.png', alt='ВС ЭНЕРДЖИ ИНТЕРНЕЙШНЛ УКРАИНА', title='ВС ЭНЕРДЖИ ИНТЕРНЕЙШНЛ УКРАИНА')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ВС ЭНЕРДЖИ ИНТЕРНЕЙШНЛ УКРАИНА
									.cl-prev
										div
											br
										|  одна из ведущих украинских управляющих компаний
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/49e/vse-logo.png', alt='ВС ЭНЕРДЖИ ИНТЕРНЕЙШНЛ УКРАИНА', title='ВС ЭНЕРДЖИ ИНТЕРНЕЙШНЛ УКРАИНА')
											a.cl-name ВС ЭНЕРДЖИ ИНТЕРНЕЙШНЛ УКРАИНА
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div
													b ВС ЭНЕРДЖИ ИНТЕРНЕЙШНЛ УКРАИНА
													|  – одна из ведущих украинских управляющих компаний, проекты которой успешно реализуются в ряде экономических отраслей страны.
												div
													| Приоритетными направлениями деятельности 
													b ВС ЭНЕРДЖИ ИНТЕРНЕЙШНЛ УКРАИНА
													|  является энергетический и гостиничный виды бизнеса. Предприятия, управляемые компанией, относятся к крупнейшим в Украине.
											.cltab.cltd2
											a.close
								#bx_1373509569_481.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/72b/ua-tenders.gif', alt='ЮА-ТЕНДЕРС', title='ЮА-ТЕНДЕРС')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ЮА-ТЕНДЕРС
									.cl-prev
										b ЮА-ТЕНДЕРС
										|  – информационный портал
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/72b/ua-tenders.gif', alt='ЮА-ТЕНДЕРС', title='ЮА-ТЕНДЕРС')
											a.cl-name ЮА-ТЕНДЕРС
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													b Портал Ua-Tenders
													|  - это самый оперативный способ получения информации в сфере государственных закупок, тендеров, новостей, комментариев и изменений в тендерном законодательстве Украины в режиме реального времени!
												div(style='text-align: justify;')
													| Вам больше не нужно отслеживать информацию о тендерах в многих информационных изданиях и отрываться от важных дел.
											.cltab.cltd2
											a.close
								#bx_1373509569_492.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/966/TENTE.png', alt='TENTE International', title='TENTE International')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl TENTE International
									.cl-prev
										b TENTE International
										|  является крупнейшим производителем роликов и колес в Европе
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/966/TENTE.png', alt='TENTE International', title='TENTE International')
											a.cl-name TENTE International
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													| TENTE International является крупнейшим производителем роликов и колес в Европе. Штаб-квартира находится в Кельне, Германия.
												div(style='text-align: justify;')
													| История компании началась в 1923 году с продажи шариковых роликов и колес для раздвижных дверей шкафов в районе Tente города Вермельскирхен. Одиннадцать лет спустя, фирма начала производить свои собственные ролики. То, что было больше похоже на производителя превратилась в компанию мирового масштаба с 25 дочерними предприятиями в Европе, Северной Америке, Азии и Южной Африки.
												div(style='text-align: justify;')
													| В 2010 году компания имела оборот 145 млн. € и штат 969 сотрудников (1.015 сотрудников в 2011 году).
											.cltab.cltd2
											a.close
								#bx_1373509569_493.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/fb3/TMM.png', alt='ТММ-ЭНЕРГОБУД', title='ТММ-ЭНЕРГОБУД')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ТММ-ЭНЕРГОБУД
									.cl-prev
										| ТММ-Энергобуд - крупная компания в области энергетического строительства
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/fb3/TMM.png', alt='ТММ-ЭНЕРГОБУД', title='ТММ-ЭНЕРГОБУД')
											a.cl-name ТММ-ЭНЕРГОБУД
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div
													b ТММ-Энергобуд
													|  была основана в 2005 году для выполнения программ в области энергетического строительства. На сегодняшний день ТММ-Энергобуд состоит из двух подразделений, которые реализуют основные направления деятельности Компании:
												div  
												div – Строительный дивизион, выполняющий EPCI-контракты в энергетике «под ключ»;
												div  
												div
													| – Производственный комплекс «Завод Энергетического Машиностроения», расположенный в Чугуевском районе Харьковской области, специализирующийся на изготовлении и поставке элементов и сборочных единиц трубопроводов высокого, среднего и низкого давления, включая трубопроводы из нержавеющей стали.
											.cltab.cltd2
											a.close
								#bx_1373509569_482.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/b68/horizont.png', alt='ГОРИЗОНТ', title='ГОРИЗОНТ')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ГОРИЗОНТ
									.cl-prev
										b ГОРИЗОНТ
										|  - один из крупнейших производителей бытовой техники и электроники на постсоветском пространстве
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/b68/horizont.png', alt='ГОРИЗОНТ', title='ГОРИЗОНТ')
											a.cl-name ГОРИЗОНТ
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													| Основанный в 1950 году, на сегодня холдинг 
													b ГОРИЗОНТ
													|  - один из крупнейших производителей бытовой техники и электроники на постсоветском пространстве. Интересы холдинга не ограничиваются только разработкой и производством бытовой техники и электроники. Компании, входящие в холдинг 
													b ГОРИЗОНТ
													| , предоставляют широкий спектр различных услуг, от управления коммерческой недвижимостью, проектирования, строительства до логистики, общественного питания, медицинского и социального обслуживания.
											.cltab.cltd2
											a.close
								#bx_1373509569_495.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/f80/ЕБЕРСПЕХЕР-logo.png', alt='ЭБЕРСПЕХЕР УКРАИНА', title='ЭБЕРСПЕХЕР УКРАИНА')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ЭБЕРСПЕХЕР УКРАИНА
									.cl-prev
										| мировой лидер по производству выхлопных систем, автономного подогрева и кондиционирования автомобилей
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/f80/ЕБЕРСПЕХЕР-logo.png', alt='ЭБЕРСПЕХЕР УКРАИНА', title='ЭБЕРСПЕХЕР УКРАИНА')
											a.cl-name ЭБЕРСПЕХЕР УКРАИНА
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												b ООО «Эберспехер Украина»
												|  является дочерней структурой немецкой компании 
												b Eberspächer Climate Control Systems GmbH & Co. KG
												|  - мирового лидера по производству выхлопных систем автомобилей, систем автономного подогрева и систем кондиционирования транспортных средств.
											.cltab.cltd2
											a.close
								#bx_1373509569_496.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/abc/asmap_1.png', alt='АсМАП Украины', title='АсМАП Украины')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl АсМАП Украины
									.cl-prev
										b(style='text-align: justify;') Ассоциация международных автомобильных перевозчиков Украины - 
										span(style='text-align: justify;') объединение автомобильных перевозчиков Украины
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/abc/asmap_1.png', alt='АсМАП Украины', title='АсМАП Украины')
											a.cl-name АсМАП Украины
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													b Ассоциация международных автомобильных перевозчиков Украины (АсМАП Украины) 
													| создана в конце 1991 года и является договорным объединением задачей которого является постоянная координация хозяйственной деятельности предприятий, которые объединились для работы, в том числе в системе МДП.
												div(style='text-align: justify;')
													| Ассоциация способствует развитию перевозок грузов и пассажиров автомобильным транспортом, в том числе в международном сообщении, представляет интересы своих участников в органах государственной власти, международных организациях, защищает права участников, обеспечивает связи с общественностью.
												div(style='text-align: justify;')
													| Участие в Ассоциации не ограничивает ее участников в коммерческой, общественной и любой другой деятельности, не запрещенной законодательством. Участники Ассоциации с правом решающего голоса имеют равные права и обязанности с учредителями Ассоциации.
												div(style='text-align: justify;')
													br
											.cltab.cltd2
											a.close
								#bx_1373509569_497.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/2ec/14284.png', alt='ПЕРВАЯ ГРУЗОВАЯ КОМПАНИЯ В УКРАИНЕ', title='ПЕРВАЯ ГРУЗОВАЯ КОМПАНИЯ В УКРАИНЕ')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ПЕРВАЯ ГРУЗОВАЯ КОМПАНИЯ В УКРАИНЕ
									.cl-prev
										| компания в сфере транспортно-логистических услуг
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/2ec/14284.png', alt='ПЕРВАЯ ГРУЗОВАЯ КОМПАНИЯ В УКРАИНЕ', title='ПЕРВАЯ ГРУЗОВАЯ КОМПАНИЯ В УКРАИНЕ')
											a.cl-name ПЕРВАЯ ГРУЗОВАЯ КОМПАНИЯ В УКРАИНЕ
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													| В настоящее время компания предоставляет полный комплекс транспортно-логистических услуг, осуществляет транспортировку и экспедирование грузов по железным дорогам Украины, стран СНГ, Балтии и Европы. При этом она обеспечивает полное юридическое и маркетинговое сопровождение, своевременный оперативный контроль и диспетчерское обслуживание перевозок.
												div(style='text-align: justify;')
													| В своей деятельности ООО «Первая грузовая компания в Украине» ориентировано на потребности и пожелания клиента. Его работа направлена на обеспечение высочайшего качества услуг путем соблюдения мировых стандартов сервиса, постоянного развития и повышения эффективности организации перевозочного процесса.
											.cltab.cltd2
											a.close
								#bx_1373509569_498.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/b9a/DEC.gif', alt='DEC education ', title='DEC education ')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl DEC education 
									.cl-prev
										b DEC education 
										| – образовательное агентство
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/b9a/DEC.gif', alt='DEC education ', title='DEC education ')
											a.cl-name DEC education 
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													b DEC education
													|  – единственное в Украине и Молдове образовательное агентство, в 2008 году удостоенное почетного звания «Лучшее агентство Восточной Европы» (эквивалент «Оскара» в сфере международных образовательных услуг). Также это единственная компания, которая признана ведущими образовательными провайдерами мира и уже 5 лет подряд входит в пятерку лучших образовательных агентств Восточной Европы.
											.cltab.cltd2
											a.close
								#bx_1373509569_483.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/a96/ITK-logo-ua.gif', alt='ИНДУСТРИАЛЬНЫЙ ТЕЛЕВИЗИОННЫЙ КОМИТЕТ', title='ИНДУСТРИАЛЬНЫЙ ТЕЛЕВИЗИОННЫЙ КОМИТЕТ')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl ИНДУСТРИАЛЬНЫЙ ТЕЛЕВИЗИОННЫЙ КОМИТЕТ
									.cl-prev
										| профессиональное отраслевое объединение ведущих телеканалов, медийных агентств и рекламодателей
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/a96/ITK-logo-ua.gif', alt='ИНДУСТРИАЛЬНЫЙ ТЕЛЕВИЗИОННЫЙ КОМИТЕТ', title='ИНДУСТРИАЛЬНЫЙ ТЕЛЕВИЗИОННЫЙ КОМИТЕТ')
											a.cl-name ИНДУСТРИАЛЬНЫЙ ТЕЛЕВИЗИОННЫЙ КОМИТЕТ
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													| Индустриальный Телевизионный Комитет – это профессиональное отраслевое объединение ведущих телеканалов, медийных агентств и рекламодателей,представляющее интересы телевизионной отрасли Украины и заботится о защите своих членов.
											.cltab.cltd2
											a.close
								#bx_1373509569_484.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/241/gazetaua.png', alt='ГАЗЕТА-ЮА', title='ГАЗЕТА-ЮА')
									a.cl-name.open-cl ГАЗЕТА-ЮА
									.cl-prev
										b ГАЗЕТА-ЮА
										|  – украинский информационный портал
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/241/gazetaua.png', alt='ГАЗЕТА-ЮА', title='ГАЗЕТА-ЮА')
											a.cl-name ГАЗЕТА-ЮА
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
											.cltab.cltd2
											a.close
								#bx_1373509569_491.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/9c1/site2.fd968aa3e6db262dda98d05d1cfd7f0d[1].jpg', alt='КИЕВСКИЙ ГОСУДАРСТВЕННЫЙ АКАДЕМИЧЕСКИЙ ТЕАТР ДРАМЫ И КОМЕДИИ', title='КИЕВСКИЙ ГОСУДАРСТВЕННЫЙ АКАДЕМИЧЕСКИЙ ТЕАТР ДРАМЫ И КОМЕДИИ')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl КИЕВСКИЙ ГОСУДАРСТВЕННЫЙ АКАДЕМИЧЕСКИЙ ТЕАТР ДРАМЫ И КОМЕДИИ
									.cl-prev
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/9c1/site2.fd968aa3e6db262dda98d05d1cfd7f0d[1].jpg', alt='КИЕВСКИЙ ГОСУДАРСТВЕННЫЙ АКАДЕМИЧЕСКИЙ ТЕАТР ДРАМЫ И КОМЕДИИ', title='КИЕВСКИЙ ГОСУДАРСТВЕННЫЙ АКАДЕМИЧЕСКИЙ ТЕАТР ДРАМЫ И КОМЕДИИ')
											a.cl-name КИЕВСКИЙ ГОСУДАРСТВЕННЫЙ АКАДЕМИЧЕСКИЙ ТЕАТР ДРАМЫ И КОМЕДИИ
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													| Среди других театров Украины Киевский государственный академический театр драмы и комедии занимает особое место. Театр, возникший на волне демократических изменений в обществе в конце 70-х годов XX века, сегодня является широко известным и популярным у зрителей, авторитетным среди специалистов.
											.cltab.cltd2
											a.close
								#bx_1373509569_485.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/52a/kmv.png', alt='KIEV MEDIA WEEK', title='KIEV MEDIA WEEK')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl KIEV MEDIA WEEK
									.cl-prev
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/52a/kmv.png', alt='KIEV MEDIA WEEK', title='KIEV MEDIA WEEK')
											a.cl-name KIEV MEDIA WEEK
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												div(style='text-align: justify;')
													b KIEV MEDIA WEEK
													|  – беспрецедентный проект для медиаотрасли, не имеющий аналогов в странах Центральной и Восточной Европы. Это целый комплекс мероприятий для профессионалов телевидения, кино, new media и смежных областей, который даст возможность коллегам познакомиться, пообщаться в официальной и неофициальной обстановке (организаторы планируют проведение ряда специальных развлекательных ивентов), заключить взаимовыгодные контракты и, что наиболее важно, почувствовать актуальное положение вещей в мировом медиабизнесе.
											.cltab.cltd2
											a.close
								#bx_1373509569_494.cl-item
									.cl-im
										a.open-cl
											img(src='http://justicon.ua/upload/iblock/0e2/gagarin.jpg', alt='Кинокомпания Гагарин-медиа', title='Кинокомпания Гагарин-медиа')
										div(style='text-align:center;')
											span.open-cl.cl-rev Отзыв компании
									a.cl-name.open-cl Кинокомпания Гагарин-медиа
									.cl-prev
										b Кинокомпания Гагарин-медиа
										|  – производитель художественных фильмов
									div(style='clear:both')
									.modal-cl
										.cl-mod
											img.smim(src='http://justicon.ua/upload/iblock/0e2/gagarin.jpg', alt='Кинокомпания Гагарин-медиа', title='Кинокомпания Гагарин-медиа')
											a.cl-name Кинокомпания Гагарин-медиа
											.cl-short
											.cltabs
												.clact.clt1
													| О КОМПАНИИ					
													span
												.clt2
													| РЕКОМЕНДАЦИИ					
													span
											.cltab.cltd1
												b Кинокомпания Гагарин-медиа
												|  – производитель художественных фильмов. Ассоциированный член УКА
											.cltab.cltd2
											a.close
								.clear
						#bgmod
				.clear
			.pd10.hg1


		include ./partials/footer.jade
		include ./partials/modals.jade
	include ./partials/scripts.jade
