- var page = 'press'
doctype html
html(lang='en')
	head
		title Justicon
		include ./partials/head.jade
	body
		include ./partials/navigation.jade

		section.page-label
			.container
				h2 Пресс-центр
		.container
			.main.wide-l
				.categories-tabs
					.tabs-holder
						.tab.active
							span Новости права
						.tab
							span Мнение эксперта
						.tab
							span Публикации
				.main-container
					.news-list
						p#bx_1373509569_1705.news-item
							a(href='article.html')
								img.preview_picture(border='0', src='http://justicon.ua/upload/iblock/283/111.jpg', width='200', height='128', alt='УТВЕРЖДЕНЫ НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ СТРОИТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ', title='УТВЕРЖДЕНЫ НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ СТРОИТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ', style='float:left')
							a(href='article.html')
								b УТВЕРЖДЕНЫ НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ СТРОИТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ
							br
							| 										Новыми лицензионными условиями предусмотрено упрощение процедуры подачи документов в Государственную архитектурно-строительную инспекцию, а также уменьшен перечень работ, для выполнения которых предусмотрено получение строительной лицензии, по сравнению с предыдущими лицензионными условиями. В скором времени соответствующий акт Кабинета Министров Украины будет опубликован...
						p#bx_1373509569_1704.news-item
							a(href='article.html')
								img.preview_picture(border='0', src='http://justicon.ua/upload/iblock/f7e/222.jpg', width='200', height='133', alt='НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ МЕДИЦИНСКОЙ ПРАКТИКИ', title='НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ МЕДИЦИНСКОЙ ПРАКТИКИ', style='float:left')
							a(href='article.html')
								b НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ МЕДИЦИНСКОЙ ПРАКТИКИ
							br
							| 										Кабинетом министров Украины утверждено 
							b Постановление № 285 от 2 марта 2016 года
							| , которым предусмотрены новые лицензионные условия хозяйственной деятельности по осуществлению медицинской практики. Данным документом предусмотрены перечень документов, подаваемый соискателем лицензии, а также...
						p#bx_1373509569_1731.news-item
							a(href='article.html')
								img.preview_picture(border='0', src='http://justicon.ua/upload/iblock/b00/1.png', width='200', height='150', alt='ВСТУПИЛ В СИЛУ ЗАКОН "О ГОСУДАРСТВЕННОЙ РЕГИСТРАЦИИ ВЕЩЕСТВЕННЫХ ПРАВ НА НЕДВИЖИМОЕ ИМУЩЕСТВО И ИХ ОБРЕМЕНЕНИЙ"', title='ВСТУПИЛ В СИЛУ ЗАКОН "О ГОСУДАРСТВЕННОЙ РЕГИСТРАЦИИ ВЕЩЕСТВЕННЫХ ПРАВ НА НЕДВИЖИМОЕ ИМУЩЕСТВО И ИХ ОБРЕМЕНЕНИЙ"', style='float:left')
							a(href='article.html')
								b
									| ВСТУПИЛ В СИЛУ ЗАКОН "О ГОСУДАРСТВЕННОЙ РЕГИСТРАЦИИ ВЕЩЕСТВЕННЫХ ПРАВ НА НЕДВИЖИМОЕ ИМУЩЕСТВО И ИХ ОБРЕМЕНЕНИЙ"
							br
							| 										09.05.2014 году вступил в силу Закон Украины от 15.04.2014 г. N 1212 - VII "О внесении изменений к статье 19 Закона Украины "О государственной регистрации вещественных прав на недвижимое имущество и их обременений" относительно особенностей государственной регистрации прав собственности на объекты недвижимого имущества, законченные строительством до 5 августа 1992 года"...
						p#bx_1373509569_1705.news-item
							a(href='article.html')
								img.preview_picture(border='0', src='http://justicon.ua/upload/iblock/283/111.jpg', width='200', height='128', alt='УТВЕРЖДЕНЫ НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ СТРОИТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ', title='УТВЕРЖДЕНЫ НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ СТРОИТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ', style='float:left')
							a(href='article.html')
								b УТВЕРЖДЕНЫ НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ СТРОИТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ
							br
							| 										Новыми лицензионными условиями предусмотрено упрощение процедуры подачи документов в Государственную архитектурно-строительную инспекцию, а также уменьшен перечень работ, для выполнения которых предусмотрено получение строительной лицензии, по сравнению с предыдущими лицензионными условиями. В скором времени соответствующий акт Кабинета Министров Украины будет опубликован...
						p#bx_1373509569_1731.news-item
							a(href='article.html')
								img.preview_picture(border='0', src='http://justicon.ua/upload/iblock/b00/1.png', width='200', height='150', alt='ВСТУПИЛ В СИЛУ ЗАКОН "О ГОСУДАРСТВЕННОЙ РЕГИСТРАЦИИ ВЕЩЕСТВЕННЫХ ПРАВ НА НЕДВИЖИМОЕ ИМУЩЕСТВО И ИХ ОБРЕМЕНЕНИЙ"', title='ВСТУПИЛ В СИЛУ ЗАКОН "О ГОСУДАРСТВЕННОЙ РЕГИСТРАЦИИ ВЕЩЕСТВЕННЫХ ПРАВ НА НЕДВИЖИМОЕ ИМУЩЕСТВО И ИХ ОБРЕМЕНЕНИЙ"', style='float:left')
							a(href='article.html')
								b
									| ВСТУПИЛ В СИЛУ ЗАКОН "О ГОСУДАРСТВЕННОЙ РЕГИСТРАЦИИ ВЕЩЕСТВЕННЫХ ПРАВ НА НЕДВИЖИМОЕ ИМУЩЕСТВО И ИХ ОБРЕМЕНЕНИЙ"
							br
							| 										09.05.2014 году вступил в силу Закон Украины от 15.04.2014 г. N 1212 - VII "О внесении изменений к статье 19 Закона Украины "О государственной регистрации вещественных прав на недвижимое имущество и их обременений" относительно особенностей государственной регистрации прав собственности на объекты недвижимого имущества, законченные строительством до 5 августа 1992 года"...
						p#bx_1373509569_1704.news-item
							a(href='article.html')
								img.preview_picture(border='0', src='http://justicon.ua/upload/iblock/f7e/222.jpg', width='200', height='133', alt='НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ МЕДИЦИНСКОЙ ПРАКТИКИ', title='НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ МЕДИЦИНСКОЙ ПРАКТИКИ', style='float:left')
							a(href='article.html')
								b НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ МЕДИЦИНСКОЙ ПРАКТИКИ
							br
							| 										Кабинетом министров Украины утверждено 
							b Постановление № 285 от 2 марта 2016 года
							| , которым предусмотрены новые лицензионные условия хозяйственной деятельности по осуществлению медицинской практики. Данным документом предусмотрены перечень документов, подаваемый соискателем лицензии, а также...
						p#bx_1373509569_1705.news-item
							a(href='article.html')
								img.preview_picture(border='0', src='http://justicon.ua/upload/iblock/283/111.jpg', width='200', height='128', alt='УТВЕРЖДЕНЫ НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ СТРОИТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ', title='УТВЕРЖДЕНЫ НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ СТРОИТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ', style='float:left')
							a(href='article.html')
								b УТВЕРЖДЕНЫ НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ СТРОИТЕЛЬНОЙ ДЕЯТЕЛЬНОСТИ
							br
							| 										Новыми лицензионными условиями предусмотрено упрощение процедуры подачи документов в Государственную архитектурно-строительную инспекцию, а также уменьшен перечень работ, для выполнения которых предусмотрено получение строительной лицензии, по сравнению с предыдущими лицензионными условиями. В скором времени соответствующий акт Кабинета Министров Украины будет опубликован...
						p#bx_1373509569_1704.news-item
							a(href='article.html')
								img.preview_picture(border='0', src='http://justicon.ua/upload/iblock/f7e/222.jpg', width='200', height='133', alt='НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ МЕДИЦИНСКОЙ ПРАКТИКИ', title='НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ МЕДИЦИНСКОЙ ПРАКТИКИ', style='float:left')
							a(href='article.html')
								b НОВЫЕ ЛИЦЕНЗИОННЫЕ УСЛОВИЯ МЕДИЦИНСКОЙ ПРАКТИКИ
							br
							| 										Кабинетом министров Украины утверждено 
							b Постановление № 285 от 2 марта 2016 года
							| , которым предусмотрены новые лицензионные условия хозяйственной деятельности по осуществлению медицинской практики. Данным документом предусмотрены перечень документов, подаваемый соискателем лицензии, а также...
						p#bx_1373509569_1731.news-item
							a(href='article.html')
								img.preview_picture(border='0', src='http://justicon.ua/upload/iblock/b00/1.png', width='200', height='150', alt='ВСТУПИЛ В СИЛУ ЗАКОН "О ГОСУДАРСТВЕННОЙ РЕГИСТРАЦИИ ВЕЩЕСТВЕННЫХ ПРАВ НА НЕДВИЖИМОЕ ИМУЩЕСТВО И ИХ ОБРЕМЕНЕНИЙ"', title='ВСТУПИЛ В СИЛУ ЗАКОН "О ГОСУДАРСТВЕННОЙ РЕГИСТРАЦИИ ВЕЩЕСТВЕННЫХ ПРАВ НА НЕДВИЖИМОЕ ИМУЩЕСТВО И ИХ ОБРЕМЕНЕНИЙ"', style='float:left')
							a(href='article.html')
								b
									| ВСТУПИЛ В СИЛУ ЗАКОН "О ГОСУДАРСТВЕННОЙ РЕГИСТРАЦИИ ВЕЩЕСТВЕННЫХ ПРАВ НА НЕДВИЖИМОЕ ИМУЩЕСТВО И ИХ ОБРЕМЕНЕНИЙ"
							br
							| 										09.05.2014 году вступил в силу Закон Украины от 15.04.2014 г. N 1212 - VII "О внесении изменений к статье 19 Закона Украины "О государственной регистрации вещественных прав на недвижимое имущество и их обременений" относительно особенностей государственной регистрации прав собственности на объекты недвижимого имущества, законченные строительством до 5 августа 1992 года"...


		include ./partials/footer.jade
		include ./partials/modals.jade
	include ./partials/scripts.jade
