doctype html
html(lang='en')
	head
		title Justicon

		include ./partials/head.jade

	body

		.modal-holder#test-navigation(data-cross="cross-navigation").opened
			.modal-content
				.modal-container
					.popup-navigation
						ul.navigation-pannel
							li
								a(href="index.html")
									span Главная
							li
								a(href="about.html")
									span О нас
							li
								a(href="search.html")
									span Поиск
							li
								a(href="price-list.html")
									span Прайс-лист
							li
								a(href="contacts.html")
									span Контакты
							li
								a(href="adresses.html")
									span Адреса
							li
								a(href="kved-1.html")
									span КВЕД 2010
							li
								a(href="partners.html")
									span Партнеры
							li
								a(href="press.html")
									span Пресс-центр
							li
								a(href="more.html")
									span Услуга

	include ./partials/scripts.jade
